openflow/Incremental-Load.json
{
  "externalControllerServices" : {
    "a9d0fce7-8560-33f6-8ed0-992949862808" : {
      "identifier" : "a9d0fce7-8560-33f6-8ed0-992949862808",
      "name" : "Snowflake Private Key Service"
    },
    "1d805b66-4a8a-3fb2-a7c9-0876eb122423" : {
      "identifier" : "1d805b66-4a8a-3fb2-a7c9-0876eb122423",
      "name" : "Table Column Filter"
    },
    "7953bc13-7d05-31c3-90ec-789465030bbf" : {
      "identifier" : "7953bc13-7d05-31c3-90ec-789465030bbf",
      "name" : "Snowflake Connection Pool"
    },
    "a72a2452-e286-3ab0-a350-c1f7d6eb09ed" : {
      "identifier" : "a72a2452-e286-3ab0-a350-c1f7d6eb09ed",
      "name" : "Source Table Schema Registry"
    },
    "50c96126-f1cd-3111-9aad-4b47b2856551" : {
      "identifier" : "50c96126-f1cd-3111-9aad-4b47b2856551",
      "name" : "JSON Writer"
    },
    "24cdd13f-c206-3d50-bfc2-d29011a189ca" : {
      "identifier" : "24cdd13f-c206-3d50-bfc2-d29011a189ca",
      "name" : "JSON Reader"
    },
    "a7df0df5-64ea-391c-9990-5b089d4eea95" : {
      "identifier" : "a7df0df5-64ea-391c-9990-5b089d4eea95",
      "name" : "SQLServer Connection Pool"
    },
    "bff543d5-cd9c-351a-aed7-363735fb0803" : {
      "identifier" : "bff543d5-cd9c-351a-aed7-363735fb0803",
      "name" : "Table State Store"
    }
  },
  "flow" : {
    "createdTimestamp" : 1771874480295,
    "description" : "Flow: Incremental Load",
    "identifier" : "Incremental-Load",
    "lastModifiedTimestamp" : 1771874480295,
    "name" : "Incremental Load",
    "versionCount" : 0
  },
  "flowContents" : {
    "comments" : "Reads data from the source database's CDC stream, and performs incremental replication for enabled tables.",
    "componentType" : "PROCESS_GROUP",
    "connections" : [ {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "groupId" : "5e0f3982-6ceb-39d3-9900-0c4928b97462",
        "id" : "9c46cfc0-63f1-3965-afa1-aba6f7758e9c",
        "name" : "Log Input",
        "type" : "INPUT_PORT"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "090ce695-3f4a-3196-8cd9-7e7e470f0399",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "Merges all pending changes from the journal table into the destination.",
        "groupId" : "flow-contents-group",
        "id" : "2a0ff4eb-886d-3c47-0000-000039710692",
        "name" : "Merge Journal to Destination",
        "type" : "PROCESSOR"
      },
      "zIndex" : 27
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "Drops the first DDL FlowFile to prevent it from deleting a freshly-created journal table.",
        "groupId" : "flow-contents-group",
        "id" : "9ef5c5de-643a-3ab2-0000-000039710692",
        "name" : "Drop First DDL",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "0d41d434-4640-37b1-0000-000039710692",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ "org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer" ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "Changes the destination table based on the incoming DDL event.",
        "groupId" : "flow-contents-group",
        "id" : "4c23cf7b-a493-30c3-0000-000039710692",
        "name" : "Alter Destination Table",
        "type" : "PROCESSOR"
      },
      "zIndex" : 12
    }, {
      "backPressureDataSizeThreshold" : "10 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "Add an extra attribute to the FlowFile with the source table's Fully Qualified Name.",
        "groupId" : "flow-contents-group",
        "id" : "b3654792-b85c-3060-0000-000039710692",
        "name" : "Set Source Table FQN",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "0d68f675-1ddf-3c76-0000-000039710692",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ "org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer" ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "39f98b78-5422-3ce4-0000-000039710692",
        "name" : "Read SQLServer Change Tracking tables",
        "type" : "PROCESSOR"
      },
      "zIndex" : 15
    }, {
      "backPressureDataSizeThreshold" : "10 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ {
        "x" : 212.0,
        "y" : 1343.0727233886719
      }, {
        "x" : 212.0,
        "y" : 1287.0727233886719
      } ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "Merges all pending changes from the journal table into the destination.",
        "groupId" : "flow-contents-group",
        "id" : "2a0ff4eb-886d-3c47-0000-000039710692",
        "name" : "Merge Journal to Destination",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "0de2016a-7417-3cdb-0000-000039710692",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "poll merge result",
      "partitioningAttribute" : "",
      "prioritizers" : [ "org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer" ],
      "selectedRelationships" : [ "poll query result" ],
      "source" : {
        "comments" : "Merges all pending changes from the journal table into the destination.",
        "groupId" : "flow-contents-group",
        "id" : "2a0ff4eb-886d-3c47-0000-000039710692",
        "name" : "Merge Journal to Destination",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ {
        "x" : -1136.0,
        "y" : 1104.0
      } ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "Change the replication state of the table to permanently failed, requiring manual intervention.",
        "groupId" : "flow-contents-group",
        "id" : "5ca72586-c0fb-3f1b-0000-000039710692",
        "name" : "Mark Replication as Failed",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "0e734efb-b93f-3e35-0000-000039710692",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ "org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer" ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "82de42e6-6c67-3cf1-0000-000039710692",
        "name" : "Update Failure Reason With CONTENT_MERGE_FAILED",
        "type" : "PROCESSOR"
      },
      "zIndex" : 26
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ {
        "x" : -1136.0,
        "y" : 56.0
      } ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "Change the replication state of the table to permanently failed, requiring manual intervention.",
        "groupId" : "flow-contents-group",
        "id" : "5ca72586-c0fb-3f1b-0000-000039710692",
        "name" : "Mark Replication as Failed",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "120e624c-d92f-352a-0000-000039710692",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ "org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer" ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "f35dba7e-fe43-32ce-0000-000039710692",
        "name" : "Update Failure Reason With CONTENT_MERGE_FAILED",
        "type" : "PROCESSOR"
      },
      "zIndex" : 18
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "Group all FlowFiles related to same table to limitate merge calls. Use this processor to schedule with cron when warehouse should be active.",
        "groupId" : "flow-contents-group",
        "id" : "963fcd04-f23d-3bd8-0000-000039710692",
        "name" : "Schedule Warehouse",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "204d6b71-f85a-30a7-0000-000039710692",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ "org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer" ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "Waits until the Snapshot load for a table is complete, and the connector can start merging incremental changes.",
        "groupId" : "flow-contents-group",
        "id" : "e6e114cd-54e2-316a-0000-000039710692",
        "name" : "Wait for Snapshot Load to Finish",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "10 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "Removes source rows from FlowFiles after they were uploaded to Snowflake. Keeps attributes for use later in the flow.",
        "groupId" : "flow-contents-group",
        "id" : "cc4f2305-1a62-3b8a-0000-000039710692",
        "name" : "Remove Rows from FlowFile",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "212a0eea-493c-315b-0000-000039710692",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ "org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer" ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "79fcb4f6-0620-3e13-0000-000039710692",
        "name" : "Upload Rows via Snowpipe Streaming",
        "type" : "PROCESSOR"
      },
      "zIndex" : 1
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "f35dba7e-fe43-32ce-0000-000039710692",
        "name" : "Update Failure Reason With CONTENT_MERGE_FAILED",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "3c99ec5e-5243-353f-0000-000039710692",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ "org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer" ],
      "selectedRelationships" : [ "failure" ],
      "source" : {
        "comments" : "Collect incoming rows into bigger FlowFiles to process them more efficiently later.",
        "groupId" : "flow-contents-group",
        "id" : "c713848e-dfca-34cc-0000-000039710692",
        "name" : "Merge Rows Into Bigger FlowFiles",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 100000000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "Waits until the Snapshot load for a table is complete, and the connector can start merging incremental changes.",
        "groupId" : "flow-contents-group",
        "id" : "e6e114cd-54e2-316a-0000-000039710692",
        "name" : "Wait for Snapshot Load to Finish",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "409293db-8f7b-39eb-0000-000039710692",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ "org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer" ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "Removes source rows from FlowFiles after they were uploaded to Snowflake. Keeps attributes for use later in the flow.",
        "groupId" : "flow-contents-group",
        "id" : "cc4f2305-1a62-3b8a-0000-000039710692",
        "name" : "Remove Rows from FlowFile",
        "type" : "PROCESSOR"
      },
      "zIndex" : 2
    }, {
      "backPressureDataSizeThreshold" : "10 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "Collect incoming rows into bigger FlowFiles to process them more efficiently later.",
        "groupId" : "flow-contents-group",
        "id" : "c713848e-dfca-34cc-0000-000039710692",
        "name" : "Merge Rows Into Bigger FlowFiles",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "4339dab1-65e3-3681-0000-000039710692",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ "org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer" ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "8062a9b9-6415-325c-0000-000039710692",
        "name" : "Determine Destination Name",
        "type" : "PROCESSOR"
      },
      "zIndex" : 11
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ {
        "x" : -843.1800079345703,
        "y" : 1742.4817504882812
      }, {
        "x" : -843.1800079345703,
        "y" : 1792.4817504882812
      } ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "Change the replication state of the table to permanently failed, requiring manual intervention.",
        "groupId" : "flow-contents-group",
        "id" : "1bff4ba0-039b-33a9-0000-000039710692",
        "name" : "Mark Replication as Failed",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "5092f5a9-b279-3acb-0000-000039710692",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ "org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer" ],
      "selectedRelationships" : [ "comms failure" ],
      "source" : {
        "comments" : "Change the replication state of the table to permanently failed, requiring manual intervention.",
        "groupId" : "flow-contents-group",
        "id" : "1bff4ba0-039b-33a9-0000-000039710692",
        "name" : "Mark Replication as Failed",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "e2fc201a-d788-3f7c-0000-000039710692",
        "name" : "Update Failure Reason With SNOWFLAKE_OBJECT_OPERATION_FAILED",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "53050168-0ae6-3c7f-0000-000039710692",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ "org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer" ],
      "selectedRelationships" : [ "failure", "illegal alteration", "table not found" ],
      "source" : {
        "comments" : "Changes the destination table based on the incoming DDL event.",
        "groupId" : "flow-contents-group",
        "id" : "4c23cf7b-a493-30c3-0000-000039710692",
        "name" : "Alter Destination Table",
        "type" : "PROCESSOR"
      },
      "zIndex" : 13
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ {
        "x" : -1136.0,
        "y" : 672.0
      } ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "Change the replication state of the table to permanently failed, requiring manual intervention.",
        "groupId" : "flow-contents-group",
        "id" : "5ca72586-c0fb-3f1b-0000-000039710692",
        "name" : "Mark Replication as Failed",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "6713bf3d-7999-38b7-0000-000039710692",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ "org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer" ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "6a0d64aa-9c20-3870-0000-000039710692",
        "name" : "Update Failure Reason With VALUE_MAPPING_ERROR",
        "type" : "PROCESSOR"
      },
      "zIndex" : 23
    }, {
      "backPressureDataSizeThreshold" : "10 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "6a0d64aa-9c20-3870-0000-000039710692",
        "name" : "Update Failure Reason With VALUE_MAPPING_ERROR",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "79f2ef58-8be5-3724-0000-000039710692",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ "org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer" ],
      "selectedRelationships" : [ "failure" ],
      "source" : {
        "comments" : "Removes source rows from FlowFiles after they were uploaded to Snowflake. Keeps attributes for use later in the flow.",
        "groupId" : "flow-contents-group",
        "id" : "cc4f2305-1a62-3b8a-0000-000039710692",
        "name" : "Remove Rows from FlowFile",
        "type" : "PROCESSOR"
      },
      "zIndex" : 3
    }, {
      "backPressureDataSizeThreshold" : "10 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ {
        "x" : -1136.0,
        "y" : 256.0
      } ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "Change the replication state of the table to permanently failed, requiring manual intervention.",
        "groupId" : "flow-contents-group",
        "id" : "5ca72586-c0fb-3f1b-0000-000039710692",
        "name" : "Mark Replication as Failed",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "801f7499-73b5-35c2-0000-000039710692",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ "org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer" ],
      "selectedRelationships" : [ "failure" ],
      "source" : {
        "comments" : "Handles DDL events from the CDC stream, checking whether the journal and destination table need to be updated.",
        "groupId" : "flow-contents-group",
        "id" : "96f44c7d-1059-32f9-0000-000039710692",
        "name" : "Process Schema Changes",
        "type" : "PROCESSOR"
      },
      "zIndex" : 21
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "82de42e6-6c67-3cf1-0000-000039710692",
        "name" : "Update Failure Reason With CONTENT_MERGE_FAILED",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "81c258b1-5b33-3a7d-0000-000039710692",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ "org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer" ],
      "selectedRelationships" : [ "failure" ],
      "source" : {
        "comments" : "Group all FlowFiles related to same table to limitate merge calls. Use this processor to schedule with cron when warehouse should be active.",
        "groupId" : "flow-contents-group",
        "id" : "963fcd04-f23d-3bd8-0000-000039710692",
        "name" : "Schedule Warehouse",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "10 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "8062a9b9-6415-325c-0000-000039710692",
        "name" : "Determine Destination Name",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "826d11d0-9bd9-3c60-0000-000039710692",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ "org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer" ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "Add an extra attribute to the FlowFile with the source table's Fully Qualified Name.",
        "groupId" : "flow-contents-group",
        "id" : "b3654792-b85c-3060-0000-000039710692",
        "name" : "Set Source Table FQN",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "0d7b1787-f20e-3bb0-0000-000039710692",
        "name" : "Update Failure Reason With SNOWPIPE_UPLOAD_FAILED",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "962be127-06df-3605-0000-000039710692",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ "org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer" ],
      "selectedRelationships" : [ "failure" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "79fcb4f6-0620-3e13-0000-000039710692",
        "name" : "Upload Rows via Snowpipe Streaming",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ {
        "x" : -1136.0,
        "y" : 1552.0
      } ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "Change the replication state of the table to permanently failed, requiring manual intervention.",
        "groupId" : "flow-contents-group",
        "id" : "1bff4ba0-039b-33a9-0000-000039710692",
        "name" : "Mark Replication as Failed",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "9e2c9b64-57b5-3794-0000-000039710692",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ "org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer" ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "e2fc201a-d788-3f7c-0000-000039710692",
        "name" : "Update Failure Reason With SNOWFLAKE_OBJECT_OPERATION_FAILED",
        "type" : "PROCESSOR"
      },
      "zIndex" : 16
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 1,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "groupId" : "e0c5d067-92b4-337f-0000-000039710692",
        "id" : "0db94b69-5453-36fd-0000-000039710692",
        "name" : "ddl",
        "type" : "INPUT_PORT"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "a62bc97f-f7b1-3076-0000-000039710692",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ "org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer" ],
      "selectedRelationships" : [ "schema update" ],
      "source" : {
        "comments" : "Handles DDL events from the CDC stream, checking whether the journal and destination table need to be updated.",
        "groupId" : "flow-contents-group",
        "id" : "96f44c7d-1059-32f9-0000-000039710692",
        "name" : "Process Schema Changes",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ {
        "x" : -1450.003662109375,
        "y" : 1070.0502471923828
      }, {
        "x" : -1450.003662109375,
        "y" : 1126.0502471923828
      } ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "Change the replication state of the table to permanently failed, requiring manual intervention.",
        "groupId" : "flow-contents-group",
        "id" : "5ca72586-c0fb-3f1b-0000-000039710692",
        "name" : "Mark Replication as Failed",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "ac41a5db-aa23-35ca-0000-000039710692",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ "org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer" ],
      "selectedRelationships" : [ "comms failure" ],
      "source" : {
        "comments" : "Change the replication state of the table to permanently failed, requiring manual intervention.",
        "groupId" : "flow-contents-group",
        "id" : "5ca72586-c0fb-3f1b-0000-000039710692",
        "name" : "Mark Replication as Failed",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "Merges all pending changes from the journal table into the destination.",
        "groupId" : "flow-contents-group",
        "id" : "2a0ff4eb-886d-3c47-0000-000039710692",
        "name" : "Merge Journal to Destination",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "b26acbd2-ad6c-3c75-0000-000039710692",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ "org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer" ],
      "selectedRelationships" : [ "merged" ],
      "source" : {
        "comments" : "Group all FlowFiles related to same table to limitate merge calls. Use this processor to schedule with cron when warehouse should be active.",
        "groupId" : "flow-contents-group",
        "id" : "963fcd04-f23d-3bd8-0000-000039710692",
        "name" : "Schedule Warehouse",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "10 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "79fcb4f6-0620-3e13-0000-000039710692",
        "name" : "Upload Rows via Snowpipe Streaming",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "b35e3262-7acf-3a83-0000-000039710692",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ "org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer" ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "Handles DDL events from the CDC stream, checking whether the journal and destination table need to be updated.",
        "groupId" : "flow-contents-group",
        "id" : "96f44c7d-1059-32f9-0000-000039710692",
        "name" : "Process Schema Changes",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ {
        "x" : -1136.0,
        "y" : 896.0
      } ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "Change the replication state of the table to permanently failed, requiring manual intervention.",
        "groupId" : "flow-contents-group",
        "id" : "5ca72586-c0fb-3f1b-0000-000039710692",
        "name" : "Mark Replication as Failed",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "c0e400fa-26c8-349b-0000-000039710692",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ "org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer" ],
      "selectedRelationships" : [ "failure" ],
      "source" : {
        "comments" : "Waits until the Snapshot load for a table is complete, and the connector can start merging incremental changes.",
        "groupId" : "flow-contents-group",
        "id" : "e6e114cd-54e2-316a-0000-000039710692",
        "name" : "Wait for Snapshot Load to Finish",
        "type" : "PROCESSOR"
      },
      "zIndex" : 25
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 1,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "Changes the destination table based on the incoming DDL event.",
        "groupId" : "flow-contents-group",
        "id" : "4c23cf7b-a493-30c3-0000-000039710692",
        "name" : "Alter Destination Table",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "d57983a9-b0b7-3509-0000-000039710692",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ "org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer" ],
      "selectedRelationships" : [ "ddl" ],
      "source" : {
        "comments" : "Merges all pending changes from the journal table into the destination.",
        "groupId" : "flow-contents-group",
        "id" : "2a0ff4eb-886d-3c47-0000-000039710692",
        "name" : "Merge Journal to Destination",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ {
        "x" : 205.0,
        "y" : 1951.0
      }, {
        "x" : 205.0,
        "y" : 2001.0
      } ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "e78f364e-2263-38cf-0000-000039710692",
        "name" : "Drop Journal Stream",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "e19c879d-da5d-36dd-0000-000039710692",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ "org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer" ],
      "selectedRelationships" : [ "failure" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "e78f364e-2263-38cf-0000-000039710692",
        "name" : "Drop Journal Stream",
        "type" : "PROCESSOR"
      },
      "zIndex" : 14
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ {
        "x" : -1136.0,
        "y" : 464.0
      } ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "Change the replication state of the table to permanently failed, requiring manual intervention.",
        "groupId" : "flow-contents-group",
        "id" : "5ca72586-c0fb-3f1b-0000-000039710692",
        "name" : "Mark Replication as Failed",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "e63901d6-9bcb-3d61-0000-000039710692",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ "org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer" ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "0d7b1787-f20e-3bb0-0000-000039710692",
        "name" : "Update Failure Reason With SNOWPIPE_UPLOAD_FAILED",
        "type" : "PROCESSOR"
      },
      "zIndex" : 22
    }, {
      "backPressureDataSizeThreshold" : "10 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "Handles DDL events from the CDC stream, checking whether the journal and destination table need to be updated.",
        "groupId" : "flow-contents-group",
        "id" : "96f44c7d-1059-32f9-0000-000039710692",
        "name" : "Process Schema Changes",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "e8b9f511-7e9f-38d7-0000-000039710692",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ "org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer" ],
      "selectedRelationships" : [ "merged" ],
      "source" : {
        "comments" : "Collect incoming rows into bigger FlowFiles to process them more efficiently later.",
        "groupId" : "flow-contents-group",
        "id" : "c713848e-dfca-34cc-0000-000039710692",
        "name" : "Merge Rows Into Bigger FlowFiles",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ {
        "x" : -1136.0,
        "y" : 1336.0
      } ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "Change the replication state of the table to permanently failed, requiring manual intervention.",
        "groupId" : "flow-contents-group",
        "id" : "1bff4ba0-039b-33a9-0000-000039710692",
        "name" : "Mark Replication as Failed",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "ef559e6f-ac03-3ef1-0000-000039710692",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ "org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer" ],
      "selectedRelationships" : [ "failure" ],
      "source" : {
        "comments" : "Merges all pending changes from the journal table into the destination.",
        "groupId" : "flow-contents-group",
        "id" : "2a0ff4eb-886d-3c47-0000-000039710692",
        "name" : "Merge Journal to Destination",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "e78f364e-2263-38cf-0000-000039710692",
        "name" : "Drop Journal Stream",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "f008f906-92e6-3bfa-0000-000039710692",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ "org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer" ],
      "selectedRelationships" : [ "schema change ddl" ],
      "source" : {
        "comments" : "Drops the first DDL FlowFile to prevent it from deleting a freshly-created journal table.",
        "groupId" : "flow-contents-group",
        "id" : "9ef5c5de-643a-3ab2-0000-000039710692",
        "name" : "Drop First DDL",
        "type" : "PROCESSOR"
      },
      "zIndex" : 4
    } ],
    "controllerServices" : [ ],
    "defaultBackPressureDataSizeThreshold" : "1 GB",
    "defaultBackPressureObjectThreshold" : 10000,
    "defaultFlowFileExpiration" : "0 sec",
    "executionEngine" : "INHERITED",
    "externalControllerServiceReferences" : {
      "a9d0fce7-8560-33f6-8ed0-992949862808" : {
        "identifier" : "a9d0fce7-8560-33f6-8ed0-992949862808",
        "name" : "Snowflake Private Key Service"
      },
      "1d805b66-4a8a-3fb2-a7c9-0876eb122423" : {
        "identifier" : "1d805b66-4a8a-3fb2-a7c9-0876eb122423",
        "name" : "Table Column Filter"
      },
      "7953bc13-7d05-31c3-90ec-789465030bbf" : {
        "identifier" : "7953bc13-7d05-31c3-90ec-789465030bbf",
        "name" : "Snowflake Connection Pool"
      },
      "a72a2452-e286-3ab0-a350-c1f7d6eb09ed" : {
        "identifier" : "a72a2452-e286-3ab0-a350-c1f7d6eb09ed",
        "name" : "Source Table Schema Registry"
      },
      "50c96126-f1cd-3111-9aad-4b47b2856551" : {
        "identifier" : "50c96126-f1cd-3111-9aad-4b47b2856551",
        "name" : "JSON Writer"
      },
      "24cdd13f-c206-3d50-bfc2-d29011a189ca" : {
        "identifier" : "24cdd13f-c206-3d50-bfc2-d29011a189ca",
        "name" : "JSON Reader"
      },
      "a7df0df5-64ea-391c-9990-5b089d4eea95" : {
        "identifier" : "a7df0df5-64ea-391c-9990-5b089d4eea95",
        "name" : "SQLServer Connection Pool"
      },
      "bff543d5-cd9c-351a-aed7-363735fb0803" : {
        "identifier" : "bff543d5-cd9c-351a-aed7-363735fb0803",
        "name" : "Table State Store"
      }
    },
    "flowFileConcurrency" : "UNBOUNDED",
    "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
    "funnels" : [ ],
    "identifier" : "flow-contents-group",
    "inputPorts" : [ ],
    "labels" : [ {
      "componentType" : "LABEL",
      "groupIdentifier" : "flow-contents-group",
      "height" : 32.0,
      "identifier" : "675bcea6-de6b-393b-b682-4c4a19098cac",
      "label" : "Wait for INCREMENT_REPLICATION state to accommodate incremental changes that arrive before the Snapshot is finished",
      "position" : {
        "x" : 56.0,
        "y" : 800.0
      },
      "style" : {
        "background-color" : "#ffd6f4",
        "font-size" : "12px"
      },
      "width" : 440.0,
      "zIndex" : 2
    } ],
    "maxConcurrentTasks" : 1,
    "name" : "Incremental Load",
    "outputPorts" : [ ],
    "parameterContextName" : "SQLServer Ingestion Parameters (1)",
    "position" : {
      "x" : 0.0,
      "y" : 0.0
    },
    "processGroups" : [ {
      "comments" : "",
      "componentType" : "PROCESS_GROUP",
      "connections" : [ {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "5e0f3982-6ceb-39d3-9900-0c4928b97462",
          "id" : "b4f4a88c-3039-3c6c-b592-32015b17497f",
          "name" : "PutS3Object",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "5e0f3982-6ceb-39d3-9900-0c4928b97462",
        "identifier" : "0437e49e-340c-32ef-ae6c-266b08177ba6",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "log.to.s3" ],
        "source" : {
          "comments" : "",
          "groupId" : "5e0f3982-6ceb-39d3-9900-0c4928b97462",
          "id" : "328ec79e-bf5c-3cff-ffff-fffffd0ae27a",
          "name" : "RouteOnAttribute",
          "type" : "PROCESSOR"
        },
        "zIndex" : 35
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "5e0f3982-6ceb-39d3-9900-0c4928b97462",
          "id" : "5e6c49bb-f790-33dd-939c-4dc65f0fd9b6",
          "name" : "AttributesToJSON",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "5e0f3982-6ceb-39d3-9900-0c4928b97462",
        "identifier" : "08b230e4-c182-3088-82e5-a07ef84109ec",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "5e0f3982-6ceb-39d3-9900-0c4928b97462",
          "id" : "5307912f-5617-3b2a-b02d-7ccbacb8f253",
          "name" : "UpdateAttribute",
          "type" : "PROCESSOR"
        },
        "zIndex" : 31
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "5e0f3982-6ceb-39d3-9900-0c4928b97462",
          "id" : "5307912f-5617-3b2a-b02d-7ccbacb8f253",
          "name" : "UpdateAttribute",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "5e0f3982-6ceb-39d3-9900-0c4928b97462",
        "identifier" : "7d29fdad-3a09-379f-ac2a-ed4164ec3da8",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "log.success" ],
        "source" : {
          "comments" : "",
          "groupId" : "5e0f3982-6ceb-39d3-9900-0c4928b97462",
          "id" : "9ac7c470-ff8f-3e7e-868a-53c6e8937a10",
          "name" : "RouteOnAttribute",
          "type" : "PROCESSOR"
        },
        "zIndex" : 33
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "5e0f3982-6ceb-39d3-9900-0c4928b97462",
          "id" : "328ec79e-bf5c-3cff-ffff-fffffd0ae27a",
          "name" : "RouteOnAttribute",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "5e0f3982-6ceb-39d3-9900-0c4928b97462",
        "identifier" : "a53cba24-a363-3fbb-948c-21ce53e50c01",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "5e0f3982-6ceb-39d3-9900-0c4928b97462",
          "id" : "5e6c49bb-f790-33dd-939c-4dc65f0fd9b6",
          "name" : "AttributesToJSON",
          "type" : "PROCESSOR"
        },
        "zIndex" : 34
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "5e0f3982-6ceb-39d3-9900-0c4928b97462",
          "id" : "7538ce4a-d3b8-3cea-9fdf-a20f0a129fc6",
          "name" : "Funnel",
          "type" : "FUNNEL"
        },
        "flowFileExpiration" : "180 sec",
        "groupIdentifier" : "5e0f3982-6ceb-39d3-9900-0c4928b97462",
        "identifier" : "ed88a582-70c0-3bd4-a2a3-6ccaeb7115c6",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "5e0f3982-6ceb-39d3-9900-0c4928b97462",
          "id" : "5e6c49bb-f790-33dd-939c-4dc65f0fd9b6",
          "name" : "AttributesToJSON",
          "type" : "PROCESSOR"
        },
        "zIndex" : 30
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "5e0f3982-6ceb-39d3-9900-0c4928b97462",
          "id" : "9ac7c470-ff8f-3e7e-868a-53c6e8937a10",
          "name" : "RouteOnAttribute",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "5e0f3982-6ceb-39d3-9900-0c4928b97462",
        "identifier" : "f41e520d-b40d-32a6-a126-6459bc9f1e80",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "" ],
        "source" : {
          "groupId" : "5e0f3982-6ceb-39d3-9900-0c4928b97462",
          "id" : "9c46cfc0-63f1-3965-afa1-aba6f7758e9c",
          "name" : "Log Input",
          "type" : "INPUT_PORT"
        },
        "zIndex" : 32
      } ],
      "controllerServices" : [ {
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-aws-nar",
          "group" : "org.apache.nifi",
          "version" : "2026.1.5.19"
        },
        "comments" : "",
        "componentType" : "CONTROLLER_SERVICE",
        "controllerServiceApis" : [ {
          "bundle" : {
            "artifact" : "nifi-aws-service-api-nar",
            "group" : "org.apache.nifi",
            "version" : "2026.1.5.19"
          },
          "type" : "org.apache.nifi.processors.aws.credentials.provider.AwsCredentialsProviderService"
        } ],
        "groupIdentifier" : "5e0f3982-6ceb-39d3-9900-0c4928b97462",
        "identifier" : "530f1751-edf0-3882-b729-e4070b8e06b0",
        "name" : "AWSCredentialsProviderControllerService",
        "properties" : {
          "Assume Role STS Region" : "us-west-2",
          "Assume Role Session Time" : "3600",
          "Use Default Credentials" : "false",
          "Use Anonymous Credentials" : "true"
        },
        "propertyDescriptors" : {
          "Assume Role STS Region" : {
            "displayName" : "Assume Role STS Region",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Assume Role STS Region",
            "sensitive" : false
          },
          "Assume Role Proxy Configuration Service" : {
            "displayName" : "Assume Role Proxy Configuration Service",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "Assume Role Proxy Configuration Service",
            "sensitive" : false
          },
          "Access Key ID" : {
            "displayName" : "Access Key ID",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Access Key ID",
            "sensitive" : true
          },
          "OAuth2 Access Token Provider" : {
            "displayName" : "OAuth2 Access Token Provider",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "OAuth2 Access Token Provider",
            "sensitive" : false
          },
          "Assume Role ARN" : {
            "displayName" : "Assume Role ARN",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Assume Role ARN",
            "sensitive" : false
          },
          "Assume Role Session Time" : {
            "displayName" : "Assume Role Session Time",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Assume Role Session Time",
            "sensitive" : false
          },
          "Assume Role Session Name" : {
            "displayName" : "Assume Role Session Name",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Assume Role Session Name",
            "sensitive" : false
          },
          "Use Default Credentials" : {
            "displayName" : "Use Default Credentials",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Use Default Credentials",
            "sensitive" : false
          },
          "Assume Role External ID" : {
            "displayName" : "Assume Role External ID",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Assume Role External ID",
            "sensitive" : false
          },
          "Assume Role STS Endpoint Override" : {
            "displayName" : "Assume Role STS Endpoint Override",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Assume Role STS Endpoint Override",
            "sensitive" : false
          },
          "Profile Name" : {
            "displayName" : "Profile Name",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Profile Name",
            "sensitive" : false
          },
          "Credentials File" : {
            "displayName" : "Credentials File",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Credentials File",
            "resourceDefinition" : {
              "cardinality" : "SINGLE",
              "resourceTypes" : [ "FILE" ]
            },
            "sensitive" : false
          },
          "Use Anonymous Credentials" : {
            "displayName" : "Use Anonymous Credentials",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Use Anonymous Credentials",
            "sensitive" : false
          },
          "Secret Access Key" : {
            "displayName" : "Secret Access Key",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Secret Access Key",
            "sensitive" : true
          },
          "Assume Role SSL Context Service" : {
            "displayName" : "Assume Role SSL Context Service",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "Assume Role SSL Context Service",
            "sensitive" : false
          }
        },
        "scheduledState" : "DISABLED",
        "type" : "org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderControllerService"
      } ],
      "defaultBackPressureDataSizeThreshold" : "1 GB",
      "defaultBackPressureObjectThreshold" : 10000,
      "defaultFlowFileExpiration" : "0 sec",
      "executionEngine" : "INHERITED",
      "flowFileConcurrency" : "UNBOUNDED",
      "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
      "funnels" : [ {
        "componentType" : "FUNNEL",
        "groupIdentifier" : "5e0f3982-6ceb-39d3-9900-0c4928b97462",
        "identifier" : "7538ce4a-d3b8-3cea-9fdf-a20f0a129fc6",
        "position" : {
          "x" : 744.0,
          "y" : 744.0
        }
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "5e0f3982-6ceb-39d3-9900-0c4928b97462",
      "inputPorts" : [ {
        "allowRemoteAccess" : false,
        "componentType" : "INPUT_PORT",
        "concurrentlySchedulableTaskCount" : 1,
        "groupIdentifier" : "5e0f3982-6ceb-39d3-9900-0c4928b97462",
        "identifier" : "9c46cfc0-63f1-3965-afa1-aba6f7758e9c",
        "name" : "Log Input",
        "portFunction" : "STANDARD",
        "position" : {
          "x" : 224.0,
          "y" : 288.0
        },
        "scheduledState" : "ENABLED",
        "type" : "INPUT_PORT"
      } ],
      "labels" : [ ],
      "maxConcurrentTasks" : 1,
      "name" : "Log Activity",
      "outputPorts" : [ ],
      "parameterContextName" : "Logging",
      "position" : {
        "x" : 336.0,
        "y" : 1368.0
      },
      "processGroups" : [ ],
      "processors" : [ {
        "autoTerminatedRelationships" : [ "log.success", "unmatched" ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2026.1.5.19"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "5e0f3982-6ceb-39d3-9900-0c4928b97462",
        "identifier" : "328ec79e-bf5c-3cff-ffff-fffffd0ae27a",
        "maxBackoffPeriod" : "10 mins",
        "name" : "RouteOnAttribute",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : 168.0,
          "y" : 960.0
        },
        "properties" : {
          "Routing Strategy" : "Route to Property name",
          "log.to.s3" : "${literal(#{log.to.s3}):equals('1')}",
          "log.success" : "${literal(#{log.success}):equals('1')}"
        },
        "propertyDescriptors" : {
          "Routing Strategy" : {
            "displayName" : "Routing Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Routing Strategy",
            "sensitive" : false
          },
          "log.to.s3" : {
            "displayName" : "log.to.s3",
            "dynamic" : true,
            "identifiesControllerService" : false,
            "name" : "log.to.s3",
            "sensitive" : false
          },
          "log.success" : {
            "displayName" : "log.success",
            "dynamic" : true,
            "identifiesControllerService" : false,
            "name" : "log.success",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 25,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.RouteOnAttribute",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-update-attribute-nar",
          "group" : "org.apache.nifi",
          "version" : "2026.1.5.19"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "5e0f3982-6ceb-39d3-9900-0c4928b97462",
        "identifier" : "5307912f-5617-3b2a-b02d-7ccbacb8f253",
        "maxBackoffPeriod" : "10 mins",
        "name" : "UpdateAttribute",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : 168.0,
          "y" : 568.0
        },
        "properties" : {
          "Store State" : "Do not store state",
          "cdc.timestamp" : "${now():format(\"yyyy-MM-dd'T'HH:mm:ss.SSS'Z'\", \"UTC\")} ",
          "Cache Value Lookup Cache Size" : "100"
        },
        "propertyDescriptors" : {
          "Delete Attributes Expression" : {
            "displayName" : "Delete Attributes Expression",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Delete Attributes Expression",
            "sensitive" : false
          },
          "Store State" : {
            "displayName" : "Store State",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Store State",
            "sensitive" : false
          },
          "cdc.timestamp" : {
            "displayName" : "cdc.timestamp",
            "dynamic" : true,
            "identifiesControllerService" : false,
            "name" : "cdc.timestamp",
            "sensitive" : false
          },
          "Cache Value Lookup Cache Size" : {
            "displayName" : "Cache Value Lookup Cache Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Cache Value Lookup Cache Size",
            "sensitive" : false
          },
          "Stateful Variables Initial Value" : {
            "displayName" : "Stateful Variables Initial Value",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Stateful Variables Initial Value",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 25,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ "failure" ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2026.1.5.19"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "5e0f3982-6ceb-39d3-9900-0c4928b97462",
        "identifier" : "5e6c49bb-f790-33dd-939c-4dc65f0fd9b6",
        "maxBackoffPeriod" : "10 mins",
        "name" : "AttributesToJSON",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : 168.0,
          "y" : 768.0
        },
        "properties" : {
          "Destination" : "flowfile-content",
          "Null Value" : "false",
          "Pretty Print" : "false",
          "Include Core Attributes" : "true",
          "JSON Handling Strategy" : "ESCAPED"
        },
        "propertyDescriptors" : {
          "Attributes Regular Expression" : {
            "displayName" : "Attributes Regular Expression",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Attributes Regular Expression",
            "sensitive" : false
          },
          "Destination" : {
            "displayName" : "Destination",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Destination",
            "sensitive" : false
          },
          "Null Value" : {
            "displayName" : "Null Value",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Null Value",
            "sensitive" : false
          },
          "Attributes List" : {
            "displayName" : "Attributes List",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Attributes List",
            "sensitive" : false
          },
          "Pretty Print" : {
            "displayName" : "Pretty Print",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Pretty Print",
            "sensitive" : false
          },
          "Include Core Attributes" : {
            "displayName" : "Include Core Attributes",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Include Core Attributes",
            "sensitive" : false
          },
          "JSON Handling Strategy" : {
            "displayName" : "JSON Handling Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "JSON Handling Strategy",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 0,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.AttributesToJSON",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ "unmatched" ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2026.1.5.19"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "5e0f3982-6ceb-39d3-9900-0c4928b97462",
        "identifier" : "9ac7c470-ff8f-3e7e-868a-53c6e8937a10",
        "maxBackoffPeriod" : "10 mins",
        "name" : "RouteOnAttribute",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : 176.0,
          "y" : 376.0
        },
        "properties" : {
          "Routing Strategy" : "Route to Property name",
          "log.success" : "${literal(#{log.success}):equals('1')}"
        },
        "propertyDescriptors" : {
          "Routing Strategy" : {
            "displayName" : "Routing Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Routing Strategy",
            "sensitive" : false
          },
          "log.success" : {
            "displayName" : "log.success",
            "dynamic" : true,
            "identifiesControllerService" : false,
            "name" : "log.success",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 25,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.RouteOnAttribute",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-aws-nar",
          "group" : "org.apache.nifi",
          "version" : "2026.1.5.19"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "5e0f3982-6ceb-39d3-9900-0c4928b97462",
        "identifier" : "b4f4a88c-3039-3c6c-b592-32015b17497f",
        "maxBackoffPeriod" : "10 mins",
        "name" : "PutS3Object",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : 176.0,
          "y" : 1168.0
        },
        "properties" : {
          "FullControl User List" : "${s3.permissions.full.users}",
          "Resource Transfer Source" : "FLOWFILE_CONTENT",
          "Multipart Upload Max Age Threshold" : "7 days",
          "Canned ACL" : "${s3.permissions.cannedacl}",
          "Use Path Style Access" : "false",
          "Write ACL User List" : "${s3.permissions.writeacl.users}",
          "Use Chunked Encoding" : "true",
          "Read ACL User List" : "${s3.permissions.readacl.users}",
          "Storage Class" : "STANDARD",
          "Multipart Part Size" : "5 GB",
          "Remove Tag Prefix" : "false",
          "Object Key" : "${filename}",
          "Multipart Threshold" : "5 GB",
          "Temporary Directory Multipart State" : "${java.io.tmpdir}",
          "Bucket" : "${s3.bucket}",
          "Multipart Upload AgeOff Interval" : "60 min",
          "AWS Credentials Provider Service" : "530f1751-edf0-3882-b729-e4070b8e06b0",
          "Communications Timeout" : "30 secs",
          "Region" : "us-west-2",
          "Read Permission User List" : "${s3.permissions.read.users}"
        },
        "propertyDescriptors" : {
          "FullControl User List" : {
            "displayName" : "FullControl User List",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "FullControl User List",
            "sensitive" : false
          },
          "Resource Transfer Source" : {
            "displayName" : "Resource Transfer Source",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Resource Transfer Source",
            "sensitive" : false
          },
          "Cache Control" : {
            "displayName" : "Cache Control",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Cache Control",
            "sensitive" : false
          },
          "Endpoint Override URL" : {
            "displayName" : "Endpoint Override URL",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Endpoint Override URL",
            "sensitive" : false
          },
          "File Resource Service" : {
            "displayName" : "File Resource Service",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "File Resource Service",
            "sensitive" : false
          },
          "Multipart Upload Max Age Threshold" : {
            "displayName" : "Multipart Upload Max Age Threshold",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Multipart Upload Max Age Threshold",
            "sensitive" : false
          },
          "Proxy Configuration Service" : {
            "displayName" : "Proxy Configuration Service",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "Proxy Configuration Service",
            "sensitive" : false
          },
          "Object Tags Prefix" : {
            "displayName" : "Object Tags Prefix",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Object Tags Prefix",
            "sensitive" : false
          },
          "Content Type" : {
            "displayName" : "Content Type",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Content Type",
            "sensitive" : false
          },
          "Canned ACL" : {
            "displayName" : "Canned ACL",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Canned ACL",
            "sensitive" : false
          },
          "Use Path Style Access" : {
            "displayName" : "Use Path Style Access",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Use Path Style Access",
            "sensitive" : false
          },
          "Encryption Service" : {
            "displayName" : "Encryption Service",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "Encryption Service",
            "sensitive" : false
          },
          "Write ACL User List" : {
            "displayName" : "Write ACL User List",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Write ACL User List",
            "sensitive" : false
          },
          "Use Chunked Encoding" : {
            "displayName" : "Use Chunked Encoding",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Use Chunked Encoding",
            "sensitive" : false
          },
          "Read ACL User List" : {
            "displayName" : "Read ACL User List",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Read ACL User List",
            "sensitive" : false
          },
          "Content Disposition" : {
            "displayName" : "Content Disposition",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Content Disposition",
            "sensitive" : false
          },
          "Storage Class" : {
            "displayName" : "Storage Class",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Storage Class",
            "sensitive" : false
          },
          "Multipart Part Size" : {
            "displayName" : "Multipart Part Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Multipart Part Size",
            "sensitive" : false
          },
          "Remove Tag Prefix" : {
            "displayName" : "Remove Tag Prefix",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Remove Tag Prefix",
            "sensitive" : false
          },
          "Object Key" : {
            "displayName" : "Object Key",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Object Key",
            "sensitive" : false
          },
          "Multipart Threshold" : {
            "displayName" : "Multipart Threshold",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Multipart Threshold",
            "sensitive" : false
          },
          "Temporary Directory Multipart State" : {
            "displayName" : "Temporary Directory Multipart State",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Temporary Directory Multipart State",
            "sensitive" : false
          },
          "SSL Context Service" : {
            "displayName" : "SSL Context Service",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "SSL Context Service",
            "sensitive" : false
          },
          "Bucket" : {
            "displayName" : "Bucket",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Bucket",
            "sensitive" : false
          },
          "Multipart Upload AgeOff Interval" : {
            "displayName" : "Multipart Upload AgeOff Interval",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Multipart Upload AgeOff Interval",
            "sensitive" : false
          },
          "AWS Credentials Provider Service" : {
            "displayName" : "AWS Credentials Provider Service",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "AWS Credentials Provider Service",
            "sensitive" : false
          },
          "Communications Timeout" : {
            "displayName" : "Communications Timeout",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Communications Timeout",
            "sensitive" : false
          },
          "Region" : {
            "displayName" : "Region",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Region",
            "sensitive" : false
          },
          "Read Permission User List" : {
            "displayName" : "Read Permission User List",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Read Permission User List",
            "sensitive" : false
          },
          "Custom Region" : {
            "displayName" : "Custom Region",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Custom Region",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 0,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.aws.s3.PutS3Object",
        "yieldDuration" : "1 sec"
      } ],
      "remoteProcessGroups" : [ ],
      "scheduledState" : "ENABLED",
      "statelessFlowTimeout" : "1 min"
    }, {
      "comments" : "",
      "componentType" : "PROCESS_GROUP",
      "connections" : [ {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 1,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "e0c5d067-92b4-337f-0000-000039710692",
          "id" : "33bb8e25-b5da-3bc3-0000-000039710692",
          "name" : "Update Failure Reason With SNOWFLAKE_OBJECT_OPERATION_FAILED",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "e0c5d067-92b4-337f-0000-000039710692",
        "identifier" : "2025b0f0-b716-3b1f-0000-000039710692",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ "org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer" ],
        "selectedRelationships" : [ "failure", "object exists", "object not found" ],
        "source" : {
          "comments" : "",
          "groupId" : "e0c5d067-92b4-337f-0000-000039710692",
          "id" : "019adc8b-24cf-35f7-0000-000039710692",
          "name" : "Create Journal Table Stream",
          "type" : "PROCESSOR"
        },
        "zIndex" : 5
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 1,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "e0c5d067-92b4-337f-0000-000039710692",
          "id" : "33bb8e25-b5da-3bc3-0000-000039710692",
          "name" : "Update Failure Reason With SNOWFLAKE_OBJECT_OPERATION_FAILED",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "e0c5d067-92b4-337f-0000-000039710692",
        "identifier" : "789f04a0-2b0a-3593-0000-000039710692",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ "org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer" ],
        "selectedRelationships" : [ "failure", "table exists" ],
        "source" : {
          "comments" : "",
          "groupId" : "e0c5d067-92b4-337f-0000-000039710692",
          "id" : "fea0cbb0-84d5-3075-0000-000039710692",
          "name" : "Create Journal Table",
          "type" : "PROCESSOR"
        },
        "zIndex" : 7
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ {
          "x" : 768.0,
          "y" : 264.0
        } ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "Change the replication state of the table to permanently failed, requiring manual intervention.",
          "groupId" : "e0c5d067-92b4-337f-0000-000039710692",
          "id" : "6959f327-0a2f-3109-0000-000039710692",
          "name" : "Mark Replication as Failed",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "e0c5d067-92b4-337f-0000-000039710692",
        "identifier" : "8a76aacf-6c0a-3621-0000-000039710692",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ "org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer" ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "e0c5d067-92b4-337f-0000-000039710692",
          "id" : "33bb8e25-b5da-3bc3-0000-000039710692",
          "name" : "Update Failure Reason With SNOWFLAKE_OBJECT_OPERATION_FAILED",
          "type" : "PROCESSOR"
        },
        "zIndex" : 12
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 1,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "e0c5d067-92b4-337f-0000-000039710692",
          "id" : "33bb8e25-b5da-3bc3-0000-000039710692",
          "name" : "Update Failure Reason With SNOWFLAKE_OBJECT_OPERATION_FAILED",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "e0c5d067-92b4-337f-0000-000039710692",
        "identifier" : "8d63ec31-5228-3e92-0000-000039710692",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ "org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer" ],
        "selectedRelationships" : [ "failure" ],
        "source" : {
          "comments" : "Creates the schema for the journal table.",
          "groupId" : "e0c5d067-92b4-337f-0000-000039710692",
          "id" : "121d481d-69bd-3ad8-0000-000039710692",
          "name" : "Create Schema If Not Exists",
          "type" : "PROCESSOR"
        },
        "zIndex" : 8
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 1,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "Converts the source table schema to the journal table schema.",
          "groupId" : "e0c5d067-92b4-337f-0000-000039710692",
          "id" : "be5760e5-dc87-382b-0000-000039710692",
          "name" : "Convert To Journal Schema",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "e0c5d067-92b4-337f-0000-000039710692",
        "identifier" : "8eaad64f-0490-3474-0000-000039710692",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ "org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer" ],
        "selectedRelationships" : [ "" ],
        "source" : {
          "groupId" : "e0c5d067-92b4-337f-0000-000039710692",
          "id" : "0db94b69-5453-36fd-0000-000039710692",
          "name" : "ddl",
          "type" : "INPUT_PORT"
        },
        "zIndex" : 11
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 1,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "e0c5d067-92b4-337f-0000-000039710692",
          "id" : "fea0cbb0-84d5-3075-0000-000039710692",
          "name" : "Create Journal Table",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "e0c5d067-92b4-337f-0000-000039710692",
        "identifier" : "991654e8-fc8d-37ce-0000-000039710692",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ "org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer" ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "Creates the schema for the journal table.",
          "groupId" : "e0c5d067-92b4-337f-0000-000039710692",
          "id" : "121d481d-69bd-3ad8-0000-000039710692",
          "name" : "Create Schema If Not Exists",
          "type" : "PROCESSOR"
        },
        "zIndex" : 10
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 1,
        "bends" : [ {
          "x" : 768.0,
          "y" : -160.0
        } ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "Change the replication state of the table to permanently failed, requiring manual intervention.",
          "groupId" : "e0c5d067-92b4-337f-0000-000039710692",
          "id" : "6959f327-0a2f-3109-0000-000039710692",
          "name" : "Mark Replication as Failed",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "e0c5d067-92b4-337f-0000-000039710692",
        "identifier" : "bfb9d33b-fff3-39e2-0000-000039710692",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ "org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer" ],
        "selectedRelationships" : [ "failure" ],
        "source" : {
          "comments" : "Converts the source table schema to the journal table schema.",
          "groupId" : "e0c5d067-92b4-337f-0000-000039710692",
          "id" : "be5760e5-dc87-382b-0000-000039710692",
          "name" : "Convert To Journal Schema",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 1,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "e0c5d067-92b4-337f-0000-000039710692",
          "id" : "019adc8b-24cf-35f7-0000-000039710692",
          "name" : "Create Journal Table Stream",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "e0c5d067-92b4-337f-0000-000039710692",
        "identifier" : "e6187fe7-6405-385a-0000-000039710692",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ "org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer" ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "e0c5d067-92b4-337f-0000-000039710692",
          "id" : "fea0cbb0-84d5-3075-0000-000039710692",
          "name" : "Create Journal Table",
          "type" : "PROCESSOR"
        },
        "zIndex" : 6
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 1,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "Creates the schema for the journal table.",
          "groupId" : "e0c5d067-92b4-337f-0000-000039710692",
          "id" : "121d481d-69bd-3ad8-0000-000039710692",
          "name" : "Create Schema If Not Exists",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "e0c5d067-92b4-337f-0000-000039710692",
        "identifier" : "ec52d0c0-35c3-35f0-0000-000039710692",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ "org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer" ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "Converts the source table schema to the journal table schema.",
          "groupId" : "e0c5d067-92b4-337f-0000-000039710692",
          "id" : "be5760e5-dc87-382b-0000-000039710692",
          "name" : "Convert To Journal Schema",
          "type" : "PROCESSOR"
        },
        "zIndex" : 9
      } ],
      "controllerServices" : [ ],
      "defaultBackPressureDataSizeThreshold" : "1 GB",
      "defaultBackPressureObjectThreshold" : 10000,
      "defaultFlowFileExpiration" : "0 sec",
      "executionEngine" : "STATELESS",
      "flowFileConcurrency" : "SINGLE_FLOWFILE_PER_NODE",
      "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
      "funnels" : [ ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "e0c5d067-92b4-337f-0000-000039710692",
      "inputPorts" : [ {
        "allowRemoteAccess" : false,
        "componentType" : "INPUT_PORT",
        "concurrentlySchedulableTaskCount" : 1,
        "groupIdentifier" : "e0c5d067-92b4-337f-0000-000039710692",
        "identifier" : "0db94b69-5453-36fd-0000-000039710692",
        "name" : "ddl",
        "portFunction" : "STANDARD",
        "position" : {
          "x" : -352.0,
          "y" : -352.0
        },
        "scheduledState" : "ENABLED",
        "type" : "INPUT_PORT"
      } ],
      "labels" : [ ],
      "maxConcurrentTasks" : 1,
      "name" : "Create Journal Table",
      "outputPorts" : [ ],
      "parameterContextName" : "SQLServer Ingestion Parameters (1)",
      "position" : {
        "x" : 448.0,
        "y" : 160.0
      },
      "processGroups" : [ ],
      "processors" : [ {
        "autoTerminatedRelationships" : [ "success" ],
        "backoffMechanism" : "YIELD_PROCESSOR",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "runtime-snowflake-processors-nar",
          "group" : "com.snowflake.openflow.runtime",
          "version" : "2026.1.5.19"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "e0c5d067-92b4-337f-0000-000039710692",
        "identifier" : "019adc8b-24cf-35f7-0000-000039710692",
        "maxBackoffPeriod" : "10 mins",
        "name" : "Create Journal Table Stream",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -408.0,
          "y" : 408.0
        },
        "properties" : {
          "Source Table Name" : "${source.table.name}_JOURNAL_${table.schema.generation}",
          "Update Type" : "Create Stream",
          "Object Identifier Resolution" : "#{Snowflake Object Identifier Resolution}",
          "Connection Pool" : "7953bc13-7d05-31c3-90ec-789465030bbf",
          "Stream Creation Parameters" : "APPEND_ONLY=TRUE",
          "Stream Name" : "${source.table.name}_JOURNAL_${table.schema.generation}_STREAM",
          "Schema Name" : "${destination.schema.name}"
        },
        "propertyDescriptors" : {
          "Source Table Name" : {
            "displayName" : "Source Table Name",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Source Table Name",
            "sensitive" : false
          },
          "Update Type" : {
            "displayName" : "Update Type",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Update Type",
            "sensitive" : false
          },
          "Object Identifier Resolution" : {
            "displayName" : "Object Identifier Resolution",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Object Identifier Resolution",
            "sensitive" : false
          },
          "Connection Pool" : {
            "displayName" : "Connection Pool",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "Connection Pool",
            "sensitive" : false
          },
          "Stream Creation Parameters" : {
            "displayName" : "Stream Creation Parameters",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Stream Creation Parameters",
            "sensitive" : false
          },
          "Stream Name" : {
            "displayName" : "Stream Name",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Stream Name",
            "sensitive" : false
          },
          "Schema Name" : {
            "displayName" : "Schema Name",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Schema Name",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ "failure" ],
        "retryCount" : 100,
        "runDurationMillis" : 0,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "com.snowflake.openflow.runtime.processors.snowflake.UpdateSnowflakeStream",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ ],
        "backoffMechanism" : "YIELD_PROCESSOR",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "runtime-snowflake-processors-nar",
          "group" : "com.snowflake.openflow.runtime",
          "version" : "2026.1.5.19"
        },
        "comments" : "Creates the schema for the journal table.",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "e0c5d067-92b4-337f-0000-000039710692",
        "identifier" : "121d481d-69bd-3ad8-0000-000039710692",
        "maxBackoffPeriod" : "10 mins",
        "name" : "Create Schema If Not Exists",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -408.0,
          "y" : -16.0
        },
        "properties" : {
          "Use Schema Creation Cache" : "false",
          "Object Identifier Resolution" : "#{Snowflake Object Identifier Resolution}",
          "Connection Pool" : "7953bc13-7d05-31c3-90ec-789465030bbf",
          "Schema Creation Cache Expiration Time" : "30 minutes",
          "Schema Name" : "${destination.schema.name}"
        },
        "propertyDescriptors" : {
          "Use Schema Creation Cache" : {
            "displayName" : "Use Schema Creation Cache",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Use Schema Creation Cache",
            "sensitive" : false
          },
          "Object Identifier Resolution" : {
            "displayName" : "Object Identifier Resolution",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Object Identifier Resolution",
            "sensitive" : false
          },
          "Connection Pool" : {
            "displayName" : "Connection Pool",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "Connection Pool",
            "sensitive" : false
          },
          "Schema Creation Cache Expiration Time" : {
            "displayName" : "Schema Creation Cache Expiration Time",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Schema Creation Cache Expiration Time",
            "sensitive" : false
          },
          "Schema Name" : {
            "displayName" : "Schema Name",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Schema Name",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ "failure" ],
        "retryCount" : 100,
        "runDurationMillis" : 0,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "com.snowflake.openflow.runtime.processors.snowflake.UpdateSnowflakeSchema",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-update-attribute-nar",
          "group" : "org.apache.nifi",
          "version" : "2026.1.5.19"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "e0c5d067-92b4-337f-0000-000039710692",
        "identifier" : "33bb8e25-b5da-3bc3-0000-000039710692",
        "maxBackoffPeriod" : "10 mins",
        "name" : "Update Failure Reason With SNOWFLAKE_OBJECT_OPERATION_FAILED",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : 264.0,
          "y" : 200.0
        },
        "properties" : {
          "Store State" : "Do not store state",
          "failure.reason" : "SNOWFLAKE_OBJECT_OPERATION_FAILED",
          "Cache Value Lookup Cache Size" : "100"
        },
        "propertyDescriptors" : {
          "Delete Attributes Expression" : {
            "displayName" : "Delete Attributes Expression",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Delete Attributes Expression",
            "sensitive" : false
          },
          "Store State" : {
            "displayName" : "Store State",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Store State",
            "sensitive" : false
          },
          "failure.reason" : {
            "displayName" : "failure.reason",
            "dynamic" : true,
            "identifiesControllerService" : false,
            "name" : "failure.reason",
            "sensitive" : false
          },
          "Cache Value Lookup Cache Size" : {
            "displayName" : "Cache Value Lookup Cache Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Cache Value Lookup Cache Size",
            "sensitive" : false
          },
          "Stateful Variables Initial Value" : {
            "displayName" : "Stateful Variables Initial Value",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Stateful Variables Initial Value",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 25,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ "comms failure", "state exists", "success" ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "runtime-multi-database-cdc-processors-nar",
          "group" : "com.snowflake.openflow.runtime",
          "version" : "2026.1.5.19"
        },
        "comments" : "Change the replication state of the table to permanently failed, requiring manual intervention.",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "e0c5d067-92b4-337f-0000-000039710692",
        "identifier" : "6959f327-0a2f-3109-0000-000039710692",
        "maxBackoffPeriod" : "30 secs",
        "name" : "Mark Replication as Failed",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : 592.0,
          "y" : 408.0
        },
        "properties" : {
          "Table State Service" : "bff543d5-cd9c-351a-aed7-363735fb0803",
          "Table Name" : "${source.table.name}",
          "Database Name" : "${source.database.name}",
          "CDC Schema Registry" : "a72a2452-e286-3ab0-a350-c1f7d6eb09ed",
          "Desired State" : "Failed",
          "Reason for Change" : "${failure.reason}",
          "Overwrite Existing" : "true",
          "Schema Name" : "${source.schema.name}"
        },
        "propertyDescriptors" : {
          "Table State Service" : {
            "displayName" : "Table State Service",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "Table State Service",
            "sensitive" : false
          },
          "Table Name" : {
            "displayName" : "Table Name",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Table Name",
            "sensitive" : false
          },
          "Database Name" : {
            "displayName" : "Database Name",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Database Name",
            "sensitive" : false
          },
          "CDC Schema Registry" : {
            "displayName" : "CDC Schema Registry",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "CDC Schema Registry",
            "sensitive" : false
          },
          "Desired State" : {
            "displayName" : "Desired State",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Desired State",
            "sensitive" : false
          },
          "Reason for Change" : {
            "displayName" : "Reason for Change",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Reason for Change",
            "sensitive" : false
          },
          "Overwrite Existing" : {
            "displayName" : "Overwrite Existing",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Overwrite Existing",
            "sensitive" : false
          },
          "Schema Name" : {
            "displayName" : "Schema Name",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Schema Name",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ "comms failure" ],
        "retryCount" : 100000,
        "runDurationMillis" : 0,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "com.snowflake.openflow.runtime.processors.database.MultiDatabaseUpdateTableState",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ "original" ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "runtime-multi-database-cdc-processors-nar",
          "group" : "com.snowflake.openflow.runtime",
          "version" : "2026.1.5.19"
        },
        "comments" : "Converts the source table schema to the journal table schema.",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "e0c5d067-92b4-337f-0000-000039710692",
        "identifier" : "be5760e5-dc87-382b-0000-000039710692",
        "maxBackoffPeriod" : "10 mins",
        "name" : "Convert To Journal Schema",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -408.0,
          "y" : -224.0
        },
        "properties" : { },
        "propertyDescriptors" : { },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 0,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "com.snowflake.openflow.runtime.processors.database.MultiDatabaseConvertToJournalSchema",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ ],
        "backoffMechanism" : "YIELD_PROCESSOR",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "runtime-snowflake-processors-nar",
          "group" : "com.snowflake.openflow.runtime",
          "version" : "2026.1.5.19"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "e0c5d067-92b4-337f-0000-000039710692",
        "identifier" : "fea0cbb0-84d5-3075-0000-000039710692",
        "maxBackoffPeriod" : "10 mins",
        "name" : "Create Journal Table",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -408.0,
          "y" : 200.0
        },
        "properties" : {
          "Use Table Metadata Cache" : "false",
          "Table Name" : "${source.table.name}_JOURNAL_${table.schema.generation}",
          "Alter Column Type Strategy" : "Fail",
          "Column Removal Strategy" : "Drop Column",
          "Table Metadata Cache Expiration Time" : "30 sec",
          "Update Type" : "Create Table",
          "Max Batch Size" : "1",
          "Object Identifier Resolution" : "#{Snowflake Object Identifier Resolution}",
          "Include Not Null Constraints" : "false",
          "Drop Not Null Strategy" : "Alter Table",
          "Add Not Null Strategy" : "Alter Table",
          "Creation Parameters" : "DEFAULT_DDL_COLLATION = ''",
          "Modify Primary Key Strategy" : "Alter Table",
          "Table Schema Strategy" : "FlowFile Content",
          "Schema Name" : "${destination.schema.name}",
          "Include Default Values" : "false",
          "Drop Column Strategy" : "Alter Table",
          "Add Column Strategy" : "Alter Table",
          "Connection Pool" : "7953bc13-7d05-31c3-90ec-789465030bbf",
          "Include Primary Key Constraints" : "false"
        },
        "propertyDescriptors" : {
          "Use Table Metadata Cache" : {
            "displayName" : "Use Table Metadata Cache",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Use Table Metadata Cache",
            "sensitive" : false
          },
          "Table Name" : {
            "displayName" : "Table Name",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Table Name",
            "sensitive" : false
          },
          "Alter Column Type Strategy" : {
            "displayName" : "Alter Column Type Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Alter Column Type Strategy",
            "sensitive" : false
          },
          "Column Removal Strategy" : {
            "displayName" : "Column Removal Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Column Removal Strategy",
            "sensitive" : false
          },
          "Table Metadata Cache Expiration Time" : {
            "displayName" : "Table Metadata Cache Expiration Time",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Table Metadata Cache Expiration Time",
            "sensitive" : false
          },
          "Update Type" : {
            "displayName" : "Update Type",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Update Type",
            "sensitive" : false
          },
          "Max Batch Size" : {
            "displayName" : "Max Batch Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Max Batch Size",
            "sensitive" : false
          },
          "Object Identifier Resolution" : {
            "displayName" : "Object Identifier Resolution",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Object Identifier Resolution",
            "sensitive" : false
          },
          "Include Not Null Constraints" : {
            "displayName" : "Include Not Null Constraints",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Include Not Null Constraints",
            "sensitive" : false
          },
          "Column Name Transformation" : {
            "displayName" : "Column Name Transformation",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Column Name Transformation",
            "sensitive" : false
          },
          "Removed Column Name Suffix" : {
            "displayName" : "Removed Column Name Suffix",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Removed Column Name Suffix",
            "sensitive" : false
          },
          "Drop Not Null Strategy" : {
            "displayName" : "Drop Not Null Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Drop Not Null Strategy",
            "sensitive" : false
          },
          "Add Not Null Strategy" : {
            "displayName" : "Add Not Null Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Add Not Null Strategy",
            "sensitive" : false
          },
          "Record Reader" : {
            "displayName" : "Record Reader",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "Record Reader",
            "sensitive" : false
          },
          "Creation Parameters" : {
            "displayName" : "Creation Parameters",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Creation Parameters",
            "sensitive" : false
          },
          "Desired Schema" : {
            "displayName" : "Desired Schema",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Desired Schema",
            "sensitive" : false
          },
          "Modify Primary Key Strategy" : {
            "displayName" : "Modify Primary Key Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Modify Primary Key Strategy",
            "sensitive" : false
          },
          "Table Schema Strategy" : {
            "displayName" : "Table Schema Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Table Schema Strategy",
            "sensitive" : false
          },
          "Schema Name" : {
            "displayName" : "Schema Name",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Schema Name",
            "sensitive" : false
          },
          "Include Default Values" : {
            "displayName" : "Include Default Values",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Include Default Values",
            "sensitive" : false
          },
          "Drop Column Strategy" : {
            "displayName" : "Drop Column Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Drop Column Strategy",
            "sensitive" : false
          },
          "Add Column Strategy" : {
            "displayName" : "Add Column Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Add Column Strategy",
            "sensitive" : false
          },
          "Connection Pool" : {
            "displayName" : "Connection Pool",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "Connection Pool",
            "sensitive" : false
          },
          "Include Primary Key Constraints" : {
            "displayName" : "Include Primary Key Constraints",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Include Primary Key Constraints",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ "failure" ],
        "retryCount" : 100,
        "runDurationMillis" : 0,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "com.snowflake.openflow.runtime.processors.snowflake.UpdateSnowflakeTable",
        "yieldDuration" : "1 sec"
      } ],
      "remoteProcessGroups" : [ ],
      "scheduledState" : "ENABLED",
      "statelessFlowTimeout" : "1 min"
    } ],
    "processors" : [ {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-update-attribute-nar",
        "group" : "org.apache.nifi",
        "version" : "2026.1.5.19"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "0d7b1787-f20e-3bb0-0000-000039710692",
      "maxBackoffPeriod" : "10 mins",
      "name" : "Update Failure Reason With SNOWPIPE_UPLOAD_FAILED",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -920.0,
        "y" : 400.0
      },
      "properties" : {
        "Store State" : "Do not store state",
        "failure.reason" : "SNOWPIPE_UPLOAD_FAILED",
        "Cache Value Lookup Cache Size" : "100"
      },
      "propertyDescriptors" : {
        "Delete Attributes Expression" : {
          "displayName" : "Delete Attributes Expression",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Delete Attributes Expression",
          "sensitive" : false
        },
        "Store State" : {
          "displayName" : "Store State",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Store State",
          "sensitive" : false
        },
        "failure.reason" : {
          "displayName" : "failure.reason",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "failure.reason",
          "sensitive" : false
        },
        "Cache Value Lookup Cache Size" : {
          "displayName" : "Cache Value Lookup Cache Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Cache Value Lookup Cache Size",
          "sensitive" : false
        },
        "Stateful Variables Initial Value" : {
          "displayName" : "Stateful Variables Initial Value",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Stateful Variables Initial Value",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 25,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "state exists", "success" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "runtime-multi-database-cdc-processors-nar",
        "group" : "com.snowflake.openflow.runtime",
        "version" : "2026.1.5.19"
      },
      "comments" : "Change the replication state of the table to permanently failed, requiring manual intervention.",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "1bff4ba0-039b-33a9-0000-000039710692",
      "maxBackoffPeriod" : "10 mins",
      "name" : "Mark Replication as Failed",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -1312.0,
        "y" : 1704.0
      },
      "properties" : {
        "Table State Service" : "bff543d5-cd9c-351a-aed7-363735fb0803",
        "Table Name" : "${source.table.name}",
        "Database Name" : "${source.database.name}",
        "CDC Schema Registry" : "a72a2452-e286-3ab0-a350-c1f7d6eb09ed",
        "Desired State" : "Failed",
        "Reason for Change" : "${failure.reason}",
        "Overwrite Existing" : "true",
        "Schema Name" : "${source.schema.name}"
      },
      "propertyDescriptors" : {
        "Table State Service" : {
          "displayName" : "Table State Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Table State Service",
          "sensitive" : false
        },
        "Table Name" : {
          "displayName" : "Table Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Table Name",
          "sensitive" : false
        },
        "Database Name" : {
          "displayName" : "Database Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Database Name",
          "sensitive" : false
        },
        "CDC Schema Registry" : {
          "displayName" : "CDC Schema Registry",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "CDC Schema Registry",
          "sensitive" : false
        },
        "Desired State" : {
          "displayName" : "Desired State",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Desired State",
          "sensitive" : false
        },
        "Reason for Change" : {
          "displayName" : "Reason for Change",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Reason for Change",
          "sensitive" : false
        },
        "Overwrite Existing" : {
          "displayName" : "Overwrite Existing",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Overwrite Existing",
          "sensitive" : false
        },
        "Schema Name" : {
          "displayName" : "Schema Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Schema Name",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "com.snowflake.openflow.runtime.processors.database.MultiDatabaseUpdateTableState",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "deleted during compaction", "failure retry", "unknown file type" ],
      "backoffMechanism" : "YIELD_PROCESSOR",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "runtime-multi-database-cdc-processors-nar",
        "group" : "com.snowflake.openflow.runtime",
        "version" : "2026.1.5.19"
      },
      "comments" : "Merges all pending changes from the journal table into the destination.",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 4,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "2a0ff4eb-886d-3c47-0000-000039710692",
      "maxBackoffPeriod" : "30 sec",
      "name" : "Merge Journal to Destination",
      "penaltyDuration" : "5 sec",
      "position" : {
        "x" : -272.0,
        "y" : 1272.0
      },
      "properties" : {
        "Unchanged Value Strategy" : "Full Values in Payload Columns",
        "Placeholder Value" : "__previous_value_unchanged",
        "Merge Query Retry Count" : "10000",
        "Object Identifier Resolution" : "#{Snowflake Object Identifier Resolution}",
        "Snowflake Connection Pool" : "7953bc13-7d05-31c3-90ec-789465030bbf",
        "Destination Database Name" : "#{Destination Database}"
      },
      "propertyDescriptors" : {
        "Unchanged Value Strategy" : {
          "displayName" : "Unchanged Value Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Unchanged Value Strategy",
          "sensitive" : false
        },
        "Placeholder Value" : {
          "displayName" : "Placeholder Value",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Placeholder Value",
          "sensitive" : false
        },
        "Merge Query Retry Count" : {
          "displayName" : "Merge Query Retry Count",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Merge Query Retry Count",
          "sensitive" : false
        },
        "Object Identifier Resolution" : {
          "displayName" : "[PREVIEW] Object Identifier Resolution",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Object Identifier Resolution",
          "sensitive" : false
        },
        "Snowflake Connection Pool" : {
          "displayName" : "Snowflake Connection Pool",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Snowflake Connection Pool",
          "sensitive" : false
        },
        "Destination Database Name" : {
          "displayName" : "Destination Database Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Destination Database Name",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ "failure retry" ],
      "retryCount" : 10000,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "com.snowflake.openflow.runtime.processors.database.MultiDatabaseMergeSnowflakeJournalTable",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "runtime-multi-database-cdc-processors-nar",
        "group" : "com.snowflake.openflow.runtime",
        "version" : "2026.1.5.19"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "PRIMARY",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "39f98b78-5422-3ce4-0000-000039710692",
      "maxBackoffPeriod" : "10 mins",
      "name" : "Read SQLServer Change Tracking tables",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -272.0,
        "y" : -648.0
      },
      "properties" : {
        "Starting Change Tracking Position" : "#{Starting Change Tracking Position}",
        "Table State Store" : "bff543d5-cd9c-351a-aed7-363735fb0803",
        "Max Batch Size" : "10000",
        "Re-read Tables in State" : "#{Re-read Tables in State}",
        "Column Filter Store" : "1d805b66-4a8a-3fb2-a7c9-0876eb122423",
        "Connection Pool" : "a7df0df5-64ea-391c-9990-5b089d4eea95",
        "Record Writer" : "50c96126-f1cd-3111-9aad-4b47b2856551",
        "Table Changes Query Interval" : "10 sec",
        "Fetch Size" : "100"
      },
      "propertyDescriptors" : {
        "Starting Change Tracking Position" : {
          "displayName" : "Starting Change Tracking Position",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Starting Change Tracking Position",
          "sensitive" : false
        },
        "Table State Store" : {
          "displayName" : "Table State Store",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Table State Store",
          "sensitive" : false
        },
        "Max Batch Size" : {
          "displayName" : "Max Batch Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max Batch Size",
          "sensitive" : false
        },
        "Re-read Tables in State" : {
          "displayName" : "Re-read Tables in State",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Re-read Tables in State",
          "sensitive" : false
        },
        "Column Filter Store" : {
          "displayName" : "Column Filter Store",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Column Filter Store",
          "sensitive" : false
        },
        "Connection Pool" : {
          "displayName" : "Connection Pool",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Connection Pool",
          "sensitive" : false
        },
        "Record Writer" : {
          "displayName" : "Record Writer",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Record Writer",
          "sensitive" : false
        },
        "Table Changes Query Interval" : {
          "displayName" : "Table Changes Query Interval",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Table Changes Query Interval",
          "sensitive" : false
        },
        "Fetch Size" : {
          "displayName" : "Fetch Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Fetch Size",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "com.snowflake.openflow.runtime.processors.database.MultiDatabaseCaptureChangeSqlServer",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "YIELD_PROCESSOR",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "runtime-snowflake-processors-nar",
        "group" : "com.snowflake.openflow.runtime",
        "version" : "2026.1.5.19"
      },
      "comments" : "Changes the destination table based on the incoming DDL event.",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "4c23cf7b-a493-30c3-0000-000039710692",
      "maxBackoffPeriod" : "10 mins",
      "name" : "Alter Destination Table",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -272.0,
        "y" : 1488.0
      },
      "properties" : {
        "Use Table Metadata Cache" : "false",
        "Table Name" : "${source.table.name}",
        "Alter Column Type Strategy" : "Fail",
        "Column Removal Strategy" : "Rename Column",
        "Table Metadata Cache Expiration Time" : "30 sec",
        "Update Type" : "Alter Table",
        "Max Batch Size" : "1",
        "Object Identifier Resolution" : "#{Snowflake Object Identifier Resolution}",
        "Include Not Null Constraints" : "true",
        "Removed Column Name Suffix" : "__SNOWFLAKE_DELETED",
        "Drop Not Null Strategy" : "Ignore",
        "Add Not Null Strategy" : "Ignore",
        "Desired Schema" : "${destination.table.schema}",
        "Modify Primary Key Strategy" : "Ignore",
        "Table Schema Strategy" : "Use 'Desired Schema' Property",
        "Schema Name" : "${destination.schema.name}",
        "Include Default Values" : "false",
        "Drop Column Strategy" : "Alter Table",
        "Add Column Strategy" : "Alter Table",
        "Connection Pool" : "7953bc13-7d05-31c3-90ec-789465030bbf",
        "Include Primary Key Constraints" : "true"
      },
      "propertyDescriptors" : {
        "Use Table Metadata Cache" : {
          "displayName" : "Use Table Metadata Cache",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Use Table Metadata Cache",
          "sensitive" : false
        },
        "Table Name" : {
          "displayName" : "Table Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Table Name",
          "sensitive" : false
        },
        "Alter Column Type Strategy" : {
          "displayName" : "Alter Column Type Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Alter Column Type Strategy",
          "sensitive" : false
        },
        "Column Removal Strategy" : {
          "displayName" : "Column Removal Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Column Removal Strategy",
          "sensitive" : false
        },
        "Table Metadata Cache Expiration Time" : {
          "displayName" : "Table Metadata Cache Expiration Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Table Metadata Cache Expiration Time",
          "sensitive" : false
        },
        "Update Type" : {
          "displayName" : "Update Type",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Update Type",
          "sensitive" : false
        },
        "Max Batch Size" : {
          "displayName" : "Max Batch Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max Batch Size",
          "sensitive" : false
        },
        "Object Identifier Resolution" : {
          "displayName" : "Object Identifier Resolution",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Object Identifier Resolution",
          "sensitive" : false
        },
        "Include Not Null Constraints" : {
          "displayName" : "Include Not Null Constraints",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Include Not Null Constraints",
          "sensitive" : false
        },
        "Column Name Transformation" : {
          "displayName" : "Column Name Transformation",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Column Name Transformation",
          "sensitive" : false
        },
        "Removed Column Name Suffix" : {
          "displayName" : "Removed Column Name Suffix",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Removed Column Name Suffix",
          "sensitive" : false
        },
        "Drop Not Null Strategy" : {
          "displayName" : "Drop Not Null Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Drop Not Null Strategy",
          "sensitive" : false
        },
        "Add Not Null Strategy" : {
          "displayName" : "Add Not Null Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Add Not Null Strategy",
          "sensitive" : false
        },
        "Record Reader" : {
          "displayName" : "Record Reader",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Record Reader",
          "sensitive" : false
        },
        "Creation Parameters" : {
          "displayName" : "Creation Parameters",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Creation Parameters",
          "sensitive" : false
        },
        "Desired Schema" : {
          "displayName" : "Desired Schema",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Desired Schema",
          "sensitive" : false
        },
        "Modify Primary Key Strategy" : {
          "displayName" : "Modify Primary Key Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Modify Primary Key Strategy",
          "sensitive" : false
        },
        "Table Schema Strategy" : {
          "displayName" : "Table Schema Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Table Schema Strategy",
          "sensitive" : false
        },
        "Schema Name" : {
          "displayName" : "Schema Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Schema Name",
          "sensitive" : false
        },
        "Include Default Values" : {
          "displayName" : "Include Default Values",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Include Default Values",
          "sensitive" : false
        },
        "Drop Column Strategy" : {
          "displayName" : "Drop Column Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Drop Column Strategy",
          "sensitive" : false
        },
        "Add Column Strategy" : {
          "displayName" : "Add Column Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Add Column Strategy",
          "sensitive" : false
        },
        "Connection Pool" : {
          "displayName" : "Connection Pool",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Connection Pool",
          "sensitive" : false
        },
        "Include Primary Key Constraints" : {
          "displayName" : "Include Primary Key Constraints",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Include Primary Key Constraints",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ "failure" ],
      "retryCount" : 100,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "com.snowflake.openflow.runtime.processors.snowflake.UpdateSnowflakeTable",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "state exists", "success" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "runtime-multi-database-cdc-processors-nar",
        "group" : "com.snowflake.openflow.runtime",
        "version" : "2026.1.5.19"
      },
      "comments" : "Change the replication state of the table to permanently failed, requiring manual intervention.",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "5ca72586-c0fb-3f1b-0000-000039710692",
      "maxBackoffPeriod" : "30 secs",
      "name" : "Mark Replication as Failed",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -1312.0,
        "y" : 1040.0
      },
      "properties" : {
        "Table State Service" : "bff543d5-cd9c-351a-aed7-363735fb0803",
        "Table Name" : "${source.table.name}",
        "Database Name" : "${source.database.name}",
        "CDC Schema Registry" : "a72a2452-e286-3ab0-a350-c1f7d6eb09ed",
        "Desired State" : "Failed",
        "Reason for Change" : "${failure.reason}",
        "Overwrite Existing" : "true",
        "Schema Name" : "${source.schema.name}"
      },
      "propertyDescriptors" : {
        "Table State Service" : {
          "displayName" : "Table State Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Table State Service",
          "sensitive" : false
        },
        "Table Name" : {
          "displayName" : "Table Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Table Name",
          "sensitive" : false
        },
        "Database Name" : {
          "displayName" : "Database Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Database Name",
          "sensitive" : false
        },
        "CDC Schema Registry" : {
          "displayName" : "CDC Schema Registry",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "CDC Schema Registry",
          "sensitive" : false
        },
        "Desired State" : {
          "displayName" : "Desired State",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Desired State",
          "sensitive" : false
        },
        "Reason for Change" : {
          "displayName" : "Reason for Change",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Reason for Change",
          "sensitive" : false
        },
        "Overwrite Existing" : {
          "displayName" : "Overwrite Existing",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Overwrite Existing",
          "sensitive" : false
        },
        "Schema Name" : {
          "displayName" : "Schema Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Schema Name",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ "comms failure" ],
      "retryCount" : 10000,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "com.snowflake.openflow.runtime.processors.database.MultiDatabaseUpdateTableState",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-update-attribute-nar",
        "group" : "org.apache.nifi",
        "version" : "2026.1.5.19"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "6a0d64aa-9c20-3870-0000-000039710692",
      "maxBackoffPeriod" : "10 mins",
      "name" : "Update Failure Reason With VALUE_MAPPING_ERROR",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -920.0,
        "y" : 608.0
      },
      "properties" : {
        "Store State" : "Do not store state",
        "failure.reason" : "VALUE_MAPPING_ERROR",
        "Cache Value Lookup Cache Size" : "100"
      },
      "propertyDescriptors" : {
        "Delete Attributes Expression" : {
          "displayName" : "Delete Attributes Expression",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Delete Attributes Expression",
          "sensitive" : false
        },
        "Store State" : {
          "displayName" : "Store State",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Store State",
          "sensitive" : false
        },
        "failure.reason" : {
          "displayName" : "failure.reason",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "failure.reason",
          "sensitive" : false
        },
        "Cache Value Lookup Cache Size" : {
          "displayName" : "Cache Value Lookup Cache Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Cache Value Lookup Cache Size",
          "sensitive" : false
        },
        "Stateful Variables Initial Value" : {
          "displayName" : "Stateful Variables Initial Value",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Stateful Variables Initial Value",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 25,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "YIELD_PROCESSOR",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "runtime-snowpipe-processors-nar",
        "group" : "com.snowflake.openflow.runtime",
        "version" : "2026.1.5.19"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 2,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "79fcb4f6-0620-3e13-0000-000039710692",
      "maxBackoffPeriod" : "1 mins",
      "name" : "Upload Rows via Snowpipe Streaming",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -272.0,
        "y" : 400.0
      },
      "properties" : {
        "Account" : "#{Snowflake Account Identifier}",
        "User" : "#{Snowflake Username}",
        "Table" : "\"${destination.table.name}_JOURNAL_${table.schema.generation}\"",
        "Concurrency Group" : "${destination.schema.name}.${destination.table.name}",
        "Max Batch Size" : "5000",
        "Schema" : "\"${destination.schema.name}\"",
        "Max Tasks Per Group" : "1",
        "Record Reader" : "24cdd13f-c206-3d50-bfc2-d29011a189ca",
        "Iceberg Enabled" : "false",
        "Private Key Service" : "a9d0fce7-8560-33f6-8ed0-992949862808",
        "Connection Strategy" : "#{Snowflake Connection Strategy}",
        "Role" : "#{Snowflake Role}",
        "Snowpipe Channel Prefix" : "${destination.schema.name}.${destination.table.name}",
        "Client Lag" : "1 sec",
        "Authentication Strategy" : "#{Snowflake Authentication Strategy}",
        "Delivery Guarantee" : "At least once",
        "Database" : "#{Destination Database}"
      },
      "propertyDescriptors" : {
        "Account" : {
          "displayName" : "Account",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Account",
          "sensitive" : false
        },
        "User" : {
          "displayName" : "User",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "User",
          "sensitive" : false
        },
        "Table" : {
          "displayName" : "Table",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Table",
          "sensitive" : false
        },
        "Concurrency Group" : {
          "displayName" : "Concurrency Group",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Concurrency Group",
          "sensitive" : false
        },
        "Max Batch Size" : {
          "displayName" : "Max Batch Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max Batch Size",
          "sensitive" : false
        },
        "Schema" : {
          "displayName" : "Schema",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Schema",
          "sensitive" : false
        },
        "Max Tasks Per Group" : {
          "displayName" : "Max Tasks Per Group",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max Tasks Per Group",
          "sensitive" : false
        },
        "Record Offset" : {
          "displayName" : "Record Offset",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Record Offset",
          "sensitive" : false
        },
        "Record Reader" : {
          "displayName" : "Record Reader",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Record Reader",
          "sensitive" : false
        },
        "Iceberg Enabled" : {
          "displayName" : "Iceberg Enabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Iceberg Enabled",
          "sensitive" : false
        },
        "Snowpipe Channel Index" : {
          "displayName" : "Snowpipe Channel Index",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Snowpipe Channel Index",
          "sensitive" : false
        },
        "Private Key Service" : {
          "displayName" : "Private Key Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Private Key Service",
          "sensitive" : false
        },
        "Connection Strategy" : {
          "displayName" : "Connection Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Connection Strategy",
          "sensitive" : false
        },
        "Role" : {
          "displayName" : "Role",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Role",
          "sensitive" : false
        },
        "Record Offset Strategy" : {
          "displayName" : "Record Offset Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Record Offset Strategy",
          "sensitive" : false
        },
        "Snowpipe Channel Prefix" : {
          "displayName" : "Snowpipe Channel Prefix",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Snowpipe Channel Prefix",
          "sensitive" : false
        },
        "Client Lag" : {
          "displayName" : "Client Lag",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Client Lag",
          "sensitive" : false
        },
        "Authentication Strategy" : {
          "displayName" : "Authentication Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Authentication Strategy",
          "sensitive" : false
        },
        "Delivery Guarantee" : {
          "displayName" : "Delivery Guarantee",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Delivery Guarantee",
          "sensitive" : false
        },
        "Record Offset Record Path" : {
          "displayName" : "Record Offset Record Path",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Record Offset Record Path",
          "sensitive" : false
        },
        "Database" : {
          "displayName" : "Database",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Database",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ "failure" ],
      "retryCount" : 300000,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "com.snowflake.openflow.runtime.processors.snowpipe.PutSnowpipeStreaming",
      "yieldDuration" : "10 millis"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-update-attribute-nar",
        "group" : "org.apache.nifi",
        "version" : "2026.1.5.19"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "8062a9b9-6415-325c-0000-000039710692",
      "maxBackoffPeriod" : "10 mins",
      "name" : "Determine Destination Name",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -272.0,
        "y" : -224.0
      },
      "properties" : {
        "Store State" : "Do not store state",
        "Cache Value Lookup Cache Size" : "100",
        "destination.schema.name" : "${#{Snowflake Object Identifier Resolution}:equals('CASE_INSENSITIVE'):ifElse('${source.database.name:toUpper()}_${source.schema.name:toUpper()}','${source.database.name}_${source.schema.name}')}",
        "destination.table.name" : "${#{Snowflake Object Identifier Resolution}:equals('CASE_INSENSITIVE'):ifElse(${source.table.name:toUpper()},${source.table.name})}"
      },
      "propertyDescriptors" : {
        "Delete Attributes Expression" : {
          "displayName" : "Delete Attributes Expression",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Delete Attributes Expression",
          "sensitive" : false
        },
        "Store State" : {
          "displayName" : "Store State",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Store State",
          "sensitive" : false
        },
        "Cache Value Lookup Cache Size" : {
          "displayName" : "Cache Value Lookup Cache Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Cache Value Lookup Cache Size",
          "sensitive" : false
        },
        "Stateful Variables Initial Value" : {
          "displayName" : "Stateful Variables Initial Value",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Stateful Variables Initial Value",
          "sensitive" : false
        },
        "destination.schema.name" : {
          "displayName" : "destination.schema.name",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "destination.schema.name",
          "sensitive" : false
        },
        "destination.table.name" : {
          "displayName" : "destination.table.name",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "destination.table.name",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 25,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-update-attribute-nar",
        "group" : "org.apache.nifi",
        "version" : "2026.1.5.19"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "82de42e6-6c67-3cf1-0000-000039710692",
      "maxBackoffPeriod" : "10 mins",
      "name" : "Update Failure Reason With CONTENT_MERGE_FAILED",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -920.0,
        "y" : 1040.0
      },
      "properties" : {
        "Store State" : "Do not store state",
        "failure.reason" : "CONTENT_MERGE_FAILED",
        "Cache Value Lookup Cache Size" : "100"
      },
      "propertyDescriptors" : {
        "Delete Attributes Expression" : {
          "displayName" : "Delete Attributes Expression",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Delete Attributes Expression",
          "sensitive" : false
        },
        "Store State" : {
          "displayName" : "Store State",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Store State",
          "sensitive" : false
        },
        "failure.reason" : {
          "displayName" : "failure.reason",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "failure.reason",
          "sensitive" : false
        },
        "Cache Value Lookup Cache Size" : {
          "displayName" : "Cache Value Lookup Cache Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Cache Value Lookup Cache Size",
          "sensitive" : false
        },
        "Stateful Variables Initial Value" : {
          "displayName" : "Stateful Variables Initial Value",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Stateful Variables Initial Value",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 25,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "original" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2026.1.5.19"
      },
      "comments" : "Group all FlowFiles related to same table to limitate merge calls. Use this processor to schedule with cron when warehouse should be active.",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "963fcd04-f23d-3bd8-0000-000039710692",
      "maxBackoffPeriod" : "10 mins",
      "name" : "Schedule Warehouse",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -272.0,
        "y" : 1040.0
      },
      "properties" : {
        "Metadata Strategy" : "Do Not Merge Uncommon Metadata",
        "Keep Path" : "false",
        "Merge Strategy" : "Bin-Packing Algorithm",
        "Attribute Strategy" : "Keep Only Common Attributes",
        "FlowFile Insertion Strategy" : "Isolated",
        "Compression Level" : "1",
        "Maximum Number of Entries" : "10000000",
        "Maximum Number of Bins" : "1000",
        "Minimum Group Size" : "0 B",
        "Tar Modified Time" : "${file.lastModifiedTime}",
        "Delimiter Strategy" : "Text",
        "Merge Format" : "Binary Concatenation",
        "Max Bin Age" : "10s",
        "Correlation Attribute Name" : "source.table.fqn",
        "Bin Termination Check" : "${cdc.event.type:equalsIgnoreCase('ddl')}",
        "Minimum Number of Entries" : "1"
      },
      "propertyDescriptors" : {
        "Metadata Strategy" : {
          "displayName" : "Metadata Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Metadata Strategy",
          "sensitive" : false
        },
        "Keep Path" : {
          "displayName" : "Keep Path",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Keep Path",
          "sensitive" : false
        },
        "Maximum Group Size" : {
          "displayName" : "Maximum Group Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Maximum Group Size",
          "sensitive" : false
        },
        "Merge Strategy" : {
          "displayName" : "Merge Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Merge Strategy",
          "sensitive" : false
        },
        "Attribute Strategy" : {
          "displayName" : "Attribute Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Attribute Strategy",
          "sensitive" : false
        },
        "FlowFile Insertion Strategy" : {
          "displayName" : "FlowFile Insertion Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "FlowFile Insertion Strategy",
          "sensitive" : false
        },
        "Compression Level" : {
          "displayName" : "Compression Level",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Compression Level",
          "sensitive" : false
        },
        "Maximum Number of Entries" : {
          "displayName" : "Maximum Number of Entries",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Maximum Number of Entries",
          "sensitive" : false
        },
        "Maximum Number of Bins" : {
          "displayName" : "Maximum Number of Bins",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Maximum Number of Bins",
          "sensitive" : false
        },
        "Minimum Group Size" : {
          "displayName" : "Minimum Group Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Minimum Group Size",
          "sensitive" : false
        },
        "Tar Modified Time" : {
          "displayName" : "Tar Modified Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Tar Modified Time",
          "sensitive" : false
        },
        "Delimiter Strategy" : {
          "displayName" : "Delimiter Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Delimiter Strategy",
          "sensitive" : false
        },
        "Header" : {
          "displayName" : "Header",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Header",
          "resourceDefinition" : {
            "cardinality" : "SINGLE",
            "resourceTypes" : [ "FILE", "TEXT" ]
          },
          "sensitive" : false
        },
        "Merge Format" : {
          "displayName" : "Merge Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Merge Format",
          "sensitive" : false
        },
        "Max Bin Age" : {
          "displayName" : "Max Bin Age",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max Bin Age",
          "sensitive" : false
        },
        "Footer" : {
          "displayName" : "Footer",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Footer",
          "resourceDefinition" : {
            "cardinality" : "SINGLE",
            "resourceTypes" : [ "FILE", "TEXT" ]
          },
          "sensitive" : false
        },
        "Correlation Attribute Name" : {
          "displayName" : "Correlation Attribute Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Correlation Attribute Name",
          "sensitive" : false
        },
        "Demarcator" : {
          "displayName" : "Demarcator",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Demarcator",
          "resourceDefinition" : {
            "cardinality" : "SINGLE",
            "resourceTypes" : [ "FILE", "TEXT" ]
          },
          "sensitive" : false
        },
        "Bin Termination Check" : {
          "displayName" : "Bin Termination Check",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Bin Termination Check",
          "sensitive" : false
        },
        "Minimum Number of Entries" : {
          "displayName" : "Minimum Number of Entries",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Minimum Number of Entries",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "#{Merge Task Schedule CRON}",
      "schedulingStrategy" : "CRON_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.MergeContent",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "skipped ddl event", "table not in state" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "runtime-multi-database-cdc-processors-nar",
        "group" : "com.snowflake.openflow.runtime",
        "version" : "2026.1.5.19"
      },
      "comments" : "Handles DDL events from the CDC stream, checking whether the journal and destination table need to be updated.",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "96f44c7d-1059-32f9-0000-000039710692",
      "maxBackoffPeriod" : "10 mins",
      "name" : "Process Schema Changes",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -272.0,
        "y" : 192.0
      },
      "properties" : {
        "Table State Service" : "bff543d5-cd9c-351a-aed7-363735fb0803",
        "CDC Schema Registry" : "a72a2452-e286-3ab0-a350-c1f7d6eb09ed",
        "Record Writer" : "50c96126-f1cd-3111-9aad-4b47b2856551",
        "Record Reader" : "24cdd13f-c206-3d50-bfc2-d29011a189ca"
      },
      "propertyDescriptors" : {
        "Table State Service" : {
          "displayName" : "Table State Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Table State Service",
          "sensitive" : false
        },
        "CDC Schema Registry" : {
          "displayName" : "CDC Schema Registry",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "CDC Schema Registry",
          "sensitive" : false
        },
        "Record Writer" : {
          "displayName" : "Record Writer",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Record Writer",
          "sensitive" : false
        },
        "Record Reader" : {
          "displayName" : "Record Reader",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Record Reader",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "com.snowflake.openflow.runtime.processors.database.MultiDatabaseEnrichCdcStream",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "unmatched" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2026.1.5.19"
      },
      "comments" : "Drops the first DDL FlowFile to prevent it from deleting a freshly-created journal table.",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "9ef5c5de-643a-3ab2-0000-000039710692",
      "maxBackoffPeriod" : "10 mins",
      "name" : "Drop First DDL",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -272.0,
        "y" : 1696.0
      },
      "properties" : {
        "Routing Strategy" : "Route to Property name",
        "schema change ddl" : "${table.schema.initial:equals(true):not()}"
      },
      "propertyDescriptors" : {
        "Routing Strategy" : {
          "displayName" : "Routing Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Routing Strategy",
          "sensitive" : false
        },
        "schema change ddl" : {
          "displayName" : "schema change ddl",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "schema change ddl",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.RouteOnAttribute",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-update-attribute-nar",
        "group" : "org.apache.nifi",
        "version" : "2026.1.5.19"
      },
      "comments" : "Add an extra attribute to the FlowFile with the source table's Fully Qualified Name.",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "b3654792-b85c-3060-0000-000039710692",
      "maxBackoffPeriod" : "10 mins",
      "name" : "Set Source Table FQN",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -272.0,
        "y" : -440.0
      },
      "properties" : {
        "Store State" : "Do not store state",
        "source.table.fqn" : "${source.database.name}.${source.schema.name}.${source.table.name}",
        "Cache Value Lookup Cache Size" : "100"
      },
      "propertyDescriptors" : {
        "Delete Attributes Expression" : {
          "displayName" : "Delete Attributes Expression",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Delete Attributes Expression",
          "sensitive" : false
        },
        "Store State" : {
          "displayName" : "Store State",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Store State",
          "sensitive" : false
        },
        "source.table.fqn" : {
          "displayName" : "source.table.fqn",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "source.table.fqn",
          "sensitive" : false
        },
        "Cache Value Lookup Cache Size" : {
          "displayName" : "Cache Value Lookup Cache Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Cache Value Lookup Cache Size",
          "sensitive" : false
        },
        "Stateful Variables Initial Value" : {
          "displayName" : "Stateful Variables Initial Value",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Stateful Variables Initial Value",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "original" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2026.1.5.19"
      },
      "comments" : "Collect incoming rows into bigger FlowFiles to process them more efficiently later.",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "c713848e-dfca-34cc-0000-000039710692",
      "maxBackoffPeriod" : "10 mins",
      "name" : "Merge Rows Into Bigger FlowFiles",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -272.0,
        "y" : -8.0
      },
      "properties" : {
        "Metadata Strategy" : "Do Not Merge Uncommon Metadata",
        "Keep Path" : "false",
        "Merge Strategy" : "Bin-Packing Algorithm",
        "Attribute Strategy" : "Keep Only Common Attributes",
        "FlowFile Insertion Strategy" : "Isolated",
        "Compression Level" : "1",
        "Maximum Number of Entries" : "10000",
        "Maximum Number of Bins" : "1000",
        "Minimum Group Size" : "0 B",
        "Tar Modified Time" : "${file.lastModifiedTime}",
        "Delimiter Strategy" : "Text",
        "Merge Format" : "Binary Concatenation",
        "Max Bin Age" : "1 min",
        "Correlation Attribute Name" : "source.table.fqn",
        "Demarcator" : "\n",
        "Bin Termination Check" : "${cdc.event.type:equalsIgnoreCase('ddl')}",
        "Minimum Number of Entries" : "100"
      },
      "propertyDescriptors" : {
        "Metadata Strategy" : {
          "displayName" : "Metadata Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Metadata Strategy",
          "sensitive" : false
        },
        "Keep Path" : {
          "displayName" : "Keep Path",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Keep Path",
          "sensitive" : false
        },
        "Maximum Group Size" : {
          "displayName" : "Maximum Group Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Maximum Group Size",
          "sensitive" : false
        },
        "Merge Strategy" : {
          "displayName" : "Merge Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Merge Strategy",
          "sensitive" : false
        },
        "Attribute Strategy" : {
          "displayName" : "Attribute Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Attribute Strategy",
          "sensitive" : false
        },
        "FlowFile Insertion Strategy" : {
          "displayName" : "FlowFile Insertion Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "FlowFile Insertion Strategy",
          "sensitive" : false
        },
        "Compression Level" : {
          "displayName" : "Compression Level",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Compression Level",
          "sensitive" : false
        },
        "Maximum Number of Entries" : {
          "displayName" : "Maximum Number of Entries",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Maximum Number of Entries",
          "sensitive" : false
        },
        "Maximum Number of Bins" : {
          "displayName" : "Maximum Number of Bins",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Maximum Number of Bins",
          "sensitive" : false
        },
        "Minimum Group Size" : {
          "displayName" : "Minimum Group Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Minimum Group Size",
          "sensitive" : false
        },
        "Tar Modified Time" : {
          "displayName" : "Tar Modified Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Tar Modified Time",
          "sensitive" : false
        },
        "Delimiter Strategy" : {
          "displayName" : "Delimiter Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Delimiter Strategy",
          "sensitive" : false
        },
        "Header" : {
          "displayName" : "Header",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Header",
          "resourceDefinition" : {
            "cardinality" : "SINGLE",
            "resourceTypes" : [ "FILE", "TEXT" ]
          },
          "sensitive" : false
        },
        "Merge Format" : {
          "displayName" : "Merge Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Merge Format",
          "sensitive" : false
        },
        "Max Bin Age" : {
          "displayName" : "Max Bin Age",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max Bin Age",
          "sensitive" : false
        },
        "Footer" : {
          "displayName" : "Footer",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Footer",
          "resourceDefinition" : {
            "cardinality" : "SINGLE",
            "resourceTypes" : [ "FILE", "TEXT" ]
          },
          "sensitive" : false
        },
        "Correlation Attribute Name" : {
          "displayName" : "Correlation Attribute Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Correlation Attribute Name",
          "sensitive" : false
        },
        "Demarcator" : {
          "displayName" : "Demarcator",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Demarcator",
          "resourceDefinition" : {
            "cardinality" : "SINGLE",
            "resourceTypes" : [ "FILE", "TEXT" ]
          },
          "sensitive" : false
        },
        "Bin Termination Check" : {
          "displayName" : "Bin Termination Check",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Bin Termination Check",
          "sensitive" : false
        },
        "Minimum Number of Entries" : {
          "displayName" : "Minimum Number of Entries",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Minimum Number of Entries",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.MergeContent",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2026.1.5.19"
      },
      "comments" : "Removes source rows from FlowFiles after they were uploaded to Snowflake. Keeps attributes for use later in the flow.",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "cc4f2305-1a62-3b8a-0000-000039710692",
      "maxBackoffPeriod" : "10 mins",
      "name" : "Remove Rows from FlowFile",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -272.0,
        "y" : 608.0
      },
      "properties" : {
        "Replacement Value" : "",
        "Search Value" : "(?s)(^.*$)",
        "Evaluation Mode" : "Entire text",
        "Line-by-Line Evaluation Mode" : "All",
        "Character Set" : "UTF-8",
        "Maximum Buffer Size" : "1 MB",
        "Replacement Strategy" : "Always Replace"
      },
      "propertyDescriptors" : {
        "Replacement Value" : {
          "displayName" : "Replacement Value",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Replacement Value",
          "sensitive" : false
        },
        "Search Value" : {
          "displayName" : "Search Value",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Search Value",
          "sensitive" : false
        },
        "Evaluation Mode" : {
          "displayName" : "Evaluation Mode",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Evaluation Mode",
          "sensitive" : false
        },
        "Text to Prepend" : {
          "displayName" : "Text to Prepend",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Text to Prepend",
          "sensitive" : false
        },
        "Line-by-Line Evaluation Mode" : {
          "displayName" : "Line-by-Line Evaluation Mode",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Line-by-Line Evaluation Mode",
          "sensitive" : false
        },
        "Character Set" : {
          "displayName" : "Character Set",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Character Set",
          "sensitive" : false
        },
        "Maximum Buffer Size" : {
          "displayName" : "Maximum Buffer Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Maximum Buffer Size",
          "sensitive" : false
        },
        "Replacement Strategy" : {
          "displayName" : "Replacement Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Replacement Strategy",
          "sensitive" : false
        },
        "Text to Append" : {
          "displayName" : "Text to Append",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Text to Append",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.ReplaceText",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-update-attribute-nar",
        "group" : "org.apache.nifi",
        "version" : "2026.1.5.19"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "e2fc201a-d788-3f7c-0000-000039710692",
      "maxBackoffPeriod" : "10 mins",
      "name" : "Update Failure Reason With SNOWFLAKE_OBJECT_OPERATION_FAILED",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -912.0,
        "y" : 1488.0
      },
      "properties" : {
        "Store State" : "Do not store state",
        "failure.reason" : "SNOWFLAKE_OBJECT_OPERATION_FAILED",
        "Cache Value Lookup Cache Size" : "100"
      },
      "propertyDescriptors" : {
        "Delete Attributes Expression" : {
          "displayName" : "Delete Attributes Expression",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Delete Attributes Expression",
          "sensitive" : false
        },
        "Store State" : {
          "displayName" : "Store State",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Store State",
          "sensitive" : false
        },
        "failure.reason" : {
          "displayName" : "failure.reason",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "failure.reason",
          "sensitive" : false
        },
        "Cache Value Lookup Cache Size" : {
          "displayName" : "Cache Value Lookup Cache Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Cache Value Lookup Cache Size",
          "sensitive" : false
        },
        "Stateful Variables Initial Value" : {
          "displayName" : "Stateful Variables Initial Value",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Stateful Variables Initial Value",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 25,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "runtime-multi-database-cdc-processors-nar",
        "group" : "com.snowflake.openflow.runtime",
        "version" : "2026.1.5.19"
      },
      "comments" : "Waits until the Snapshot load for a table is complete, and the connector can start merging incremental changes.",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "e6e114cd-54e2-316a-0000-000039710692",
      "maxBackoffPeriod" : "10 mins",
      "name" : "Wait for Snapshot Load to Finish",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -272.0,
        "y" : 832.0
      },
      "properties" : {
        "Table State Service" : "bff543d5-cd9c-351a-aed7-363735fb0803",
        "Accepted State" : "INCREMENTAL_REPLICATION"
      },
      "propertyDescriptors" : {
        "Table State Service" : {
          "displayName" : "Table State Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Table State Service",
          "sensitive" : false
        },
        "Accepted State" : {
          "displayName" : "Accepted State",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Accepted State",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "com.snowflake.openflow.runtime.processors.database.MultiDatabaseWaitForTableState",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "object not found", "success" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "runtime-snowflake-processors-nar",
        "group" : "com.snowflake.openflow.runtime",
        "version" : "2026.1.5.19"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "e78f364e-2263-38cf-0000-000039710692",
      "maxBackoffPeriod" : "10 mins",
      "name" : "Drop Journal Stream",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -272.0,
        "y" : 1912.0
      },
      "properties" : {
        "Update Type" : "Drop Stream",
        "Object Identifier Resolution" : "#{Snowflake Object Identifier Resolution}",
        "Connection Pool" : "7953bc13-7d05-31c3-90ec-789465030bbf",
        "Stream Name" : "${source.table.name}_JOURNAL_${table.schema.generation}_STREAM",
        "Schema Name" : "${destination.schema.name}"
      },
      "propertyDescriptors" : {
        "Source Table Name" : {
          "displayName" : "Source Table Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Source Table Name",
          "sensitive" : false
        },
        "Update Type" : {
          "displayName" : "Update Type",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Update Type",
          "sensitive" : false
        },
        "Object Identifier Resolution" : {
          "displayName" : "Object Identifier Resolution",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Object Identifier Resolution",
          "sensitive" : false
        },
        "Connection Pool" : {
          "displayName" : "Connection Pool",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Connection Pool",
          "sensitive" : false
        },
        "Stream Creation Parameters" : {
          "displayName" : "Stream Creation Parameters",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Stream Creation Parameters",
          "sensitive" : false
        },
        "Stream Name" : {
          "displayName" : "Stream Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Stream Name",
          "sensitive" : false
        },
        "Schema Name" : {
          "displayName" : "Schema Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Schema Name",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "com.snowflake.openflow.runtime.processors.snowflake.UpdateSnowflakeStream",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-update-attribute-nar",
        "group" : "org.apache.nifi",
        "version" : "2026.1.5.19"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "f35dba7e-fe43-32ce-0000-000039710692",
      "maxBackoffPeriod" : "10 mins",
      "name" : "Update Failure Reason With CONTENT_MERGE_FAILED",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -920.0,
        "y" : -8.0
      },
      "properties" : {
        "Store State" : "Do not store state",
        "failure.reason" : "CONTENT_MERGE_FAILED",
        "Cache Value Lookup Cache Size" : "100"
      },
      "propertyDescriptors" : {
        "Delete Attributes Expression" : {
          "displayName" : "Delete Attributes Expression",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Delete Attributes Expression",
          "sensitive" : false
        },
        "Store State" : {
          "displayName" : "Store State",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Store State",
          "sensitive" : false
        },
        "failure.reason" : {
          "displayName" : "failure.reason",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "failure.reason",
          "sensitive" : false
        },
        "Cache Value Lookup Cache Size" : {
          "displayName" : "Cache Value Lookup Cache Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Cache Value Lookup Cache Size",
          "sensitive" : false
        },
        "Stateful Variables Initial Value" : {
          "displayName" : "Stateful Variables Initial Value",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Stateful Variables Initial Value",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 25,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
      "yieldDuration" : "1 sec"
    } ],
    "remoteProcessGroups" : [ ],
    "scheduledState" : "ENABLED",
    "statelessFlowTimeout" : "1 min"
  },
  "flowEncodingVersion" : "1.0",
  "latest" : false,
  "parameterContexts" : {
    "Logging" : {
      "componentType" : "PARAMETER_CONTEXT",
      "description" : "",
      "inheritedParameterContexts" : [ ],
      "name" : "Logging",
      "parameters" : [ {
        "description" : "",
        "name" : "log.success",
        "provided" : false,
        "sensitive" : false,
        "value" : "1"
      }, {
        "description" : "",
        "name" : "log.to.s3",
        "provided" : false,
        "sensitive" : false,
        "value" : "0"
      } ]
    },
    "SQLServer Destination Parameters" : {
      "componentType" : "PARAMETER_CONTEXT",
      "inheritedParameterContexts" : [ ],
      "name" : "SQLServer Destination Parameters",
      "parameters" : [ {
        "description" : "The database where data will be persisted. It must already exist in Snowflake",
        "name" : "Destination Database",
        "provided" : false,
        "sensitive" : false,
        "value" : "OPENFLOW_QUICKSTART_DATABASE"
      }, {
        "description" : "Leave this blank when using Session Token for your Authentication Strategy. When using KEY_PAIR, provide your Snowflake account name formatted as [organization-name]-[account-name] where data will be persisted.",
        "name" : "Snowflake Account Identifier",
        "provided" : false,
        "sensitive" : false
      }, {
        "description" : "When using SPCS, use SNOWFLAKE_SESSION_TOKEN as the value for Authentication Strategy. When using BYOC, use KEY_PAIR as the value for Authentication Strategy.",
        "name" : "Snowflake Authentication Strategy",
        "provided" : false,
        "sensitive" : false,
        "value" : "SNOWFLAKE_SESSION_TOKEN"
      }, {
        "description" : "When using KEY_PAIR, specify the strategy for connecting to Snowflake. Possible values: STANDARD, PRIVATE_CONNECTIVITY",
        "name" : "Snowflake Connection Strategy",
        "provided" : false,
        "sensitive" : false,
        "value" : "STANDARD"
      }, {
        "description" : "Do not change after initial start of the connector. Determines if schema/table/column names are treated as case-sensitive or case-insensitive.\nOne of: CASE_INSENSITIVE / CASE_SENSITIVE",
        "name" : "Snowflake Object Identifier Resolution",
        "provided" : false,
        "sensitive" : false,
        "value" : "CASE_INSENSITIVE"
      }, {
        "description" : "Leave this blank when using Session Token for your Authentication Strategy. When using KEY_PAIR, provide the RSA private key used for authentication. The RSA key must be formatted according to PKCS8 standards and have standard PEM headers and footers. Note that either Snowflake Private Key File or Snowflake Private Key must be defined.",
        "name" : "Snowflake Private Key",
        "provided" : false,
        "sensitive" : true
      }, {
        "description" : "Leave this blank when using Session Token for your Authentication Strategy. When using KEY_PAIR, upload the file that contains the RSA Private Key used for authentication to Snowflake, formatted according to PKCS8 standards and having standard PEM headers and footers. The header line begins with -----BEGIN PRIVATE. Select the Reference asset checkbox to upload the private key file.",
        "name" : "Snowflake Private Key File",
        "provided" : false,
        "sensitive" : false
      }, {
        "description" : "Leave this blank when using Session Token for your Authentication Strategy. When using KEY_PAIR, provide the password associated with the Snowflake Private Key File.",
        "name" : "Snowflake Private Key Password",
        "provided" : false,
        "sensitive" : true
      }, {
        "description" : "When using Session Token for your Authentication Strategy, use your Runtime Role. You can find your Runtime Role in the Openflow UI, by going to View Details for your Runtime. When using Key Pair for your Authentication Strategy, use a valid role configured for your service user.",
        "name" : "Snowflake Role",
        "provided" : false,
        "sensitive" : false,
        "value" : "OPENFLOW_QUICKSTART_ROLE"
      }, {
        "description" : "Leave this blank when using Session Token for your Authentication Strategy. When using KEY_PAIR, provide the user name used to connect to Snowflake instance.",
        "name" : "Snowflake Username",
        "provided" : false,
        "sensitive" : false
      }, {
        "description" : "Snowflake warehouse used to run queries",
        "name" : "Snowflake Warehouse",
        "provided" : false,
        "sensitive" : false
      } ]
    },
    "SQLServer Ingestion Parameters (1)" : {
      "componentType" : "PARAMETER_CONTEXT",
      "inheritedParameterContexts" : [ "SQLServer Destination Parameters", "SQLServer Source Parameters" ],
      "name" : "SQLServer Ingestion Parameters (1)",
      "parameters" : [ {
        "description" : "A JSON specifying which columns and column patterns should be included or excluded from replication, per table. Takes the form of an array with one object per table, e.g. [ {\"database\": \"DB1\", \"schema\":\"public\", \"table\":\"table1\", \"includedPattern\":\".*name\"} ] - this will include all columns that end with 'name' in the 'table1' from the 'public' schema in database DB1.",
        "name" : "Column Filter JSON",
        "provided" : false,
        "sensitive" : false,
        "value" : "[]"
      }, {
        "description" : "A comma-separated list of fully-qualified table names that should be replicated. The format should be <database>.<schema name>.<table name>. If names are case sensitive or contain special characters - they should be quoted. For example: \"db1\".\"public\".\"table1\", DB2.SCHEMA2.\"table2\", \"db3\".\"public\".\"table3\"",
        "name" : "Included Table Names",
        "provided" : false,
        "sensitive" : false,
        "value" : "\"nifi\".\"dbo\".\"test_sales_events\""
      }, {
        "description" : "A Regular Expression that can be matched against table names to determine if the table should be included. The Regular Expression should match the fully qualified table name: <database>.<schema>.<table>. For example, to include all tables in the DB1 database and \"public\" schema, use DB1\\.public\\..*",
        "name" : "Included Table Regex",
        "provided" : false,
        "sensitive" : false
      }, {
        "description" : "Determine if snapshot load should be skipped and only incremental CDC phase should take place. If set to \"incremental\" current database rows will not be replicated (snapshot will be skipped) and only new changes will be applied. Default value is \"full\" which means both snapshot and incremental will be performed.",
        "name" : "Ingestion Type",
        "provided" : false,
        "sensitive" : false,
        "value" : "full"
      }, {
        "description" : "CRON expression defining periods when merge operations from Journal to Destination Table will be triggered. Set it to * * * * * ? if you want to have continuous merge or time schedule to limitate warehouse run time.\nFor example:\n The string * 0 * * * ? indicates that you want to schedule merges at full hour for one minute\n The string * 20 14 ? * MON-FRI indicates that you want to schedule merges at 2:20 PM every Monday through Friday.\nFor additional information and examples, see the cron triggers tutorial in the Quartz Documentation https://www.quartz-scheduler.org/documentation/quartz-2.2.2/tutorials/tutorial-lesson-06.html",
        "name" : "Merge Task Schedule CRON",
        "provided" : false,
        "sensitive" : false,
        "value" : "* * * * * ?"
      }, {
        "description" : "Only applicable when 'Starting Change Tracking Position' is set to 'Earliest'. Choose whether re-reading events from the earliest position should include tables in any active state (set 'Any active'), or new tables only (set 'New').",
        "name" : "Re-read Tables in State",
        "provided" : false,
        "sensitive" : false,
        "value" : "New"
      }, {
        "description" : "Position from which to start reading the change tracking. 'Latest' is the default, starts from the last available position. 'Earliest' starts from the oldest available position. If a running connector is switched to the 'Earliest' position after it has been running earlier, it will re-read events from the start of the binlog. While this re-reading proceeds, it cannot be cancelled.",
        "name" : "Starting Change Tracking Position",
        "provided" : false,
        "sensitive" : false,
        "value" : "Latest"
      } ]
    },
    "SQLServer Source Parameters" : {
      "componentType" : "PARAMETER_CONTEXT",
      "inheritedParameterContexts" : [ ],
      "name" : "SQLServer Source Parameters",
      "parameters" : [ {
        "description" : "The JDBC Connection URL",
        "name" : "SQLServer Connection URL",
        "provided" : false,
        "sensitive" : false,
        "value" : "jdbc:sqlserver://nifi.database.windows.net:1433;database=nifi;encrypt=true;trustServerCertificate=false;hostNameInCertificate=*.database.windows.net;loginTimeout=30;"
      }, {
        "description" : "The JDBC Driver JAR File reference. Download the jar from its website, then select the 'Reference asset' checkbox to upload and attach it.",
        "name" : "SQLServer JDBC Driver",
        "provided" : false,
        "sensitive" : false
      }, {
        "description" : "The password for interacting with SQLServer",
        "name" : "SQLServer Password",
        "provided" : false,
        "sensitive" : true
      }, {
        "description" : "The username for interacting with SQLServer",
        "name" : "SQLServer Username",
        "provided" : false,
        "sensitive" : false,
        "value" : "kenton@nifi"
      } ]
    }
  },
  "parameterProviders" : { },
  "snapshotMetadata" : {
    "author" : "KENDAVIS",
    "flowIdentifier" : "Incremental-Load",
    "timestamp" : 1771874480858
  }
}